<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="2.7.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Remotion.JetBrains.Annotations.Sources" version="1.15.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="Remotion.Utilities.ArgumentUtility.Sources" version="1.25.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="Remotion.Utilities.Assertion.Sources" version="1.15.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="Remotion.Utilities.NullableTypeUtility.Sources" version="1.15.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="Selenium.Support" version="2.44.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.44.0" targetFramework="net45" />
</packages>