<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" resourceType="Unspecified" modules="AspNetCoreModuleV2" />
    </handlers>
    <modules>
      <add name="AspNetCoreModuleV2" />
    </modules>
    <aspNetCore stdoutLogEnabled="false" startupTimeLimit="3600" requestTimeout="23:00:00" processPath="bin\Remotion.Web.Test.exe" hostingModel="OutOfProcess" arguments="" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/event-stream" enabled="false" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
</configuration>