<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="2.14.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="Selenium.Support" version="3.5.2" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.5.2" targetFramework="net45" />
</packages>