/* Style applied to the DropDownMenu. */

span.DropDownMenuContainer 
{
  display: block;
  color: #083779;
  background-color: White;
  position: relative;
  font-family: sans-serif;
  width: 100%;
  min-width: 18px;
}

tr.bocListDataRow span.DropDownMenuContainer,
tr.bocListDataRowSelected span.DropDownMenuContainer
{
  display: inline-block;
}

span.DropDownMenuSelect
{
  display: block;
  position: relative;
  border: solid 1px #083779;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1.25em;
  height: 1.4em;
}

td.buttonCell span.DropDownMenuSelect
{
  /* only when display just arrow */
  display: inline-block;
}

span.DropDownMenuSelect.disabled
{
  cursor: default;
  border-color: Gray;
}

span.DropDownMenuSelect span
{
  left: 0;
  vertical-align: middle;
}

span.DropDownMenuSelect a.DropDownMenuLabel
{
  position: relative;
  left: 0.1em;
  top: 0.1em;
  margin-right: 16px;
  border-style: none;
  background-color: Transparent;
  color: #083779;
  height: 1.2em !important;
}

span.DropDownMenuContainer span.disabled a.DropDownMenuLabel
{
  color: Gray;
}

span.DropDownMenuSelect a.DropDownMenuButton
{
  display: inline-block;
  position: absolute;
  left: auto;
  top: 0px;
  bottom: 0;
  right: 0px;
  border-left: solid 1px #083779;
  background-color: #083779;
  margin-right: 0;
}

span.DropDownMenuSelect a.DropDownMenuButton:first-child
{
  width: 100%;
  text-align: center;
}

span.DropDownMenuSelect.disabled a.DropDownMenuButton
{
  cursor: default;
  border-left: solid 1px Gray;
  background-color: #E8E8E8;
}

span.DropDownMenuSelect a.DropDownMenuButton img
{
  height: 100%;
  width: 16px;
  background-position: 0px center;
  background-repeat: no-repeat;
  background-image: url('../Image/DropDownMenuButton.gif');
}

span.DropDownMenuSelect.disabled a.DropDownMenuButton img
{
  background-position: -16px center;
  filter: none;
  opacity: 1;
}

body.msie7 span.DropDownMenuSelect a.DropDownMenuButton img
{
  height: 1.6em;
}

span.DropDownMenuSelect img
{
  border: 0;
}

div.DropDownMenuOptions
{
  z-index: 2147483647;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
}

ul.DropDownMenuOptions
{
  font-size: 80%;
  border: solid 1px #083779;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
  background-image: url('../Image/DropDownMenuItemIconPane.gif');
  background-repeat: repeat-y;
  background-position: top left;
}

ul.DropDownMenuOptions li.selected a
{
  background-color: #e6f0ff;
  border: solid 1px #083779;
  padding: 0px 2px 2px 2px;
}

ul.DropDownMenuOptions li a
{
  text-decoration: none;
  display: block;
  margin: 1px;
  padding: 1px 3px 3px 1px;
  white-space: nowrap;
  color: #083779;
}

ul.DropDownMenuOptions li a:hover
{
  background-color: #e6f0ff;
  border: solid 1px #083779;
  padding: 0px 2px 2px 0px;
}

ul.DropDownMenuOptions li a img
{
  border: 0;
  margin-right: 15px;
  vertical-align: middle;
}

ul.DropDownMenuOptions li a span
{
  display: inline-block;
  padding: 2px 0px;
}

ul.DropDownMenuOptions li.DropDownMenuItemDisabled a
{
  border-style: none;
  padding: 1px 3px 3px 3px;
  color: gray;
}

ul.DropDownMenuOptions li.DropDownMenuItemDisabled a:hover
{
  background-color: transparent;
  border-style: none;
  padding: 1px 3px 3px 3px;
  cursor: default;
}


/* style separator */
span.DropDownMenuSeparator
{
  display: block;
  line-height: 0.1em;
  margin-left: 30px;
  border: 0;
  background-image: url('../Image/DropDownMenuSeparator.gif');
  background-repeat: repeat-x;
  background-position: center;
}

span.DropDownMenuItemIcon
{
  margin-right: 15px;
  width: 16px;
  padding: 0px;
}
