/* Style applied to the TabbedMenu. */

@import url("TabStrip.css");

table.tabbedMenu
{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td.tabbedMainMenuCell
{
  padding: 0;
  padding-top: 0.25em;
  background-color: #083779;
}

td.tabbedSubMenuCell
{
  background-color: White;
  padding: 0.3em;
  border-bottom: solid 1px #083779;
}

td.tabbedSubMenuCell ul
{
  overflow: hidden;
}

td.tabbedMenuStatusCell
{
  background-color: White;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.8em;
  color: Black;
  text-align: right;
  white-space: nowrap;
  border-bottom: solid 1px #083779;
}

/* Main Menu Tabstrip */
div.tabbedMainMenu span.tabStripTabWrapper
{
  padding-top: 0.3em;
  padding-right: 1px;
}

div.tabbedMainMenu span.tabStripTabSeparator
{
  display: none; /* magin-left must be set to 0 in the Non-IE browsers section for tabStripTab and tabStripTabSelected. */
}

div.tabbedMainMenu span.tabStripTab
{
  padding-bottom: 1px;
}

div.tabbedMainMenu span.tabStripTab a
{  
  border: none;
  background-color: #DDDDDD;
  background-image: url(../Image/TabbedMenuTabBackground.gif);
  background-repeat: repeat-x;
  background-position: center;
  color: Black;
  font-size: 120%;
  font-weight: bold;
}

div.tabbedMainMenu span.tabStripTab a:hover
{
  background-color: #FEFFFF;
  background-image: url(../Image/TabbedMenuTabBackgroundHover.gif);
  background-repeat: repeat-x;
  background-position: top;
  color: Black;
  cursor: pointer;
  cursor: hand;
}

div.tabbedMainMenu span.tabStripTabSelected
{
  padding-bottom: 0;
}

div.tabbedMainMenu span.tabStripTabSelected a
{
  border: none;
  border-bottom: 1px solid white;
  background-color: White;
  color: Black;
  font-size: 120%;
  font-weight: bold;
}

div.tabbedMainMenu span.tabStripTabSelected a:hover
{
  color: Black;
  background-color: White;
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

div.tabbedMainMenu span.tabStripTab.disabled a,
div.tabbedMainMenu span.tabStripTab.disabled a:hover
{
  color: #b0b0b0;
  background-color: #efefef;
  background-image: none;
  text-decoration: none;
  cursor: default;
}

/* Content area of the tab */
div.tabbedMainMenu li span.anchorBody
{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

body.mozilla  div.tabbedMainMenu span.tabStripTabWrapper,
body.webkit   div.tabbedMainMenu span.tabStripTabWrapper,
body.opera    div.tabbedMainMenu span.tabStripTabWrapper
{
  margin-bottom: 0px; /* Removes an offset between the main menu and the sub menu */
}

div.tabbedMainMenu div.clearingPane
{
  clear: both;
}

/* Sub Menu Tabstrip */
div.tabbedSubMenu div.tabStripTabsPane
{
}

div.tabbedSubMenu div.tabStripTabsPane.empty
{
  padding-top: 0.4em; /* padding from tabStripTabWrapper, tabStripTab and content */
}

div.tabbedSubMenu div.tabStripTabsPane span.tabStripTabWrapper
{
  padding-top: 0.1em;
}

div.tabbedSubMenu span.tabStripTabSeparator
{
  display: none; /* magin-left must be set to 0 in the Non-IE browsers section for tabStripTab and tabStripTabSelected. */
}

div.tabbedSubMenu span.tabStripTab,
div.tabbedSubMenu span.tabStripTabSelected
{
  border-right: solid 1px Black;

  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

div.tabbedSubMenu span.tabStripTab a
{
  border: none;
  background-color: White;
  color: Black;
}

div.tabbedSubMenu span.tabStripTab a:hover,
div.tabbedSubMenu span.tabStripTabSelected a:hover
{
  background-color: White;
  color: Black;
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

div.tabbedSubMenu span.tabStripTabSelected a
{
  border: none;
  background-color: White;
  color: Black;
  text-decoration: underline;
}

div.tabbedSubMenu span.tabStripTab.disabled a,
div.tabbedSubMenu span.tabStripTab.disabled a:hover
{
  color: #b0b0b0;
  background-color: White;
  cursor: default;
}

div.tabbedSubMenu span.tabStripTab.disabled img
{
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=1),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
}

/* Content area of the tab */
div.tabbedSubMenu span.anchorBody
{
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

div.tabbedSubMenu div.tabStripTabsPane.empty
{
  padding-top: 1.7em;
}

body.msie7 div.tabbedSubMenu div.tabStripTabsPane.empty
{
  padding-top: 0.4em;
}

div.tabbedSubMenu div.clearingPane
{
  clear: both;
}
