/* Style applied to the TabbedMultiView. */

@import url("TabStrip.css");

div.tabbedMultiView
{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #083779;
}

div.tabbedMultiView > div.wrapper
{
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  width: auto;
  height: auto;
}

div.tabbedMultiViewActiveView
{
  height: 80%;
}

body.mozilla  div.tabbedMultiViewActiveView,
body.webkit   div.tabbedMultiViewActiveView,
body.opera    div.tabbedMultiViewActiveView
{
  width: inherit;
}

div.tabbedMultiViewActiveView > div.contentBorder
{
  position: relative;
  border: solid 1px #083779;
  border-top: 0;
  background-color: white;
  margin: 0 0.5em; 
  padding: 0.25em;
  overflow: auto;
  height: 60%;
}

div.tabbedMultiViewActiveView > div.contentBorder > div.content
{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

body.msie7 div.tabbedMultiViewActiveView > div.contentBorder > div.content
{
  width: 98%;
  height: 98%;
}

/* Applied to the top section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewTopControls
{
  overflow: hidden;
  background-color: White;
}

div.tabbedMultiViewTopControls.empty
{
  height: 1em;
  background-color: White;
}

/* Applied to the bottom section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewBottomControls
{
  position: absolute;
  overflow: hidden;
  background-color: White;
  margin-top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
}

body.opera div.tabbedMultiViewBottomControls
{
  border: solid 0 transparent;
}

div.tabbedMultiViewBottomControls.empty
{
  height: 1em;
  background-color: White;
}

/* Tab Strip */
div.tabbedMultiViewTabStrip
{
  position: relative;
  left: 0;
  right: 0;
  padding: 0;
  background-color: White;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

body.mozilla div.tabbedMultiViewTabStrip 
{ 
  margin-top: 0.1em;
}

div.tabbedMultiViewTabStrip div.tabStripTabsPane
{
  border-bottom: solid 1px #083779;
}

div.tabbedMultiViewTabStrip div.tabStripTabsPane ul
{
  display: block;
  margin-bottom: -1px; /* Moves the UL into the surrounding DIV. */
}

div.tabbedMultiViewTabStrip span.tabStripTabWrapper
{
  padding-top: 0.3em;
  position: relative;
}

body.msie7 div.tabbedMultiViewTabStrip span.tabStripTabWrapper,
body.opera div.tabbedMultiViewTabStrip span.tabStripTabWrapper
{
  margin-bottom: -1px;
}

div.tabbedMultiViewTabStrip span.tabStripTabSeparator
{
  width: 0.6em;
  border-bottom: solid 1px #083779;
}

body.msie7 div.tabbedMultiViewTabStrip span.tabStripTabSeparator
{
  padding-bottom: 1px;
}

div.tabbedMultiViewTabStrip span.tabStripTab
{
  border: solid 1px #083779;
}

div.tabbedMultiViewTabStrip span.tabStripTab a
{
  border: none;
  background-color: #083779;
  background-image: url(../Image/TabbedMultiViewTabBackground.gif);
  background-repeat: repeat-x;
  background-position: top;
  color: White;
}

body.msie7 div.tabbedMultiViewTabStrip span.tabStripTab a
{
  padding-bottom: 1px;
}

div.tabbedMultiViewTabStrip span.tabStripTab a:hover
{
  background-color: #083779;
  background-image: url(../Image/TabbedMultiViewTabBackgroundHover.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  color: White;
}

div.tabbedMultiViewTabStrip span.tabStripTabSelected
{
  border: solid 1px #083779;
  border-bottom: none;
}

body.msie7 div.tabbedMultiViewTabStrip span.tabStripTabSelected
{
  border-bottom: solid 1px White;
}

div.tabbedMultiViewTabStrip span.tabStripTabSelected a
{
  border: none;
  border-bottom: solid 1px White;
  background-color: White;
  color: #0D4EBA;
}

body.msie7 div.tabbedMultiViewTabStrip span.tabStripTabSelected a
{
  margin-bottom: -1px;
  padding-bottom: 1px;
}

/* Content area of the tab */
div.tabbedMultiViewTabStrip a span.anchorBody
{
  padding-top: 0.15em;
  padding-bottom: 0.20em; 
  padding-left: 0.5em;
  padding-right: 0.5em;
}

div.tabbedMultiViewTabStrip span.tabStripTabSeparator span
{
  margin-bottom: 1px; /* The width of the top-border of the tabs. */
  padding-top: 0.2em; /* The padding used for the content span. */
  padding-bottom: 0.15em; /* The padding used for the content span. */
}

div.tabbedMultiViewTabStrip span.tabStripTab span.anchorBody,
div.tabbedMultiViewTabStrip span.tabStripTabSelected span.anchorBody,
div.tabbedMultiViewTabStrip span.tabStripTabSeparator span
{
  height: 1.15em;
}

body.webkit div.tabbedMultiViewTabStrip span.tabStripTab span.anchorBody,
body.webkit div.tabbedMultiViewTabStrip span.tabStripTabSelected span.anchorBody,
body.webkit div.tabbedMultiViewTabStrip span.tabStripTabSeparator span
{
  height: 1.2em;
}

div.tabbedMultiViewTabStrip div.clearingPane
{
  clear: both;
}
