/* Style applied to the TabStrip. */

/* Applied to the tab strip itself.*/
*.tabStrip
{
}

*.tabStripTabsPane
{
}

*.tabStripTabsPane.empty
{
}

*.tabStripTabsPane ul
{
  margin: 0;
  padding: 0px;
  list-style: none;
  width: auto;
}

*.tabStripTabsPane ul li
{
  display: inline;
}

*.tabStripTab a
{
  border: solid 1px #083779;
  background-color: #e1ecfc;
  color: Blue;
  text-decoration: none;
  cursor: default;
}

*.tabStripTab a:hover
{
  background-color: #e6f0ff;
  cursor: pointer;
  cursor: hand;
}

*.tabStripTabSelected a
{
  border: solid 1px #083779;
  background-color: White;
  color: Blue;
  text-decoration: none;
  cursor: default;
}

*.tabStripTab.disabled a,
*.tabStripTab.disabled a:hover
{
  color: Gray;
  background-color: #E8E8E8;
  cursor: default;
}

*.tabStripTab.disabled img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

/* Content area of the tab */
*.tabStripTabsPane *.anchorBody
{
  padding-top: 0.2em; /* Value must also be set in the Non-IE browsers section as padding for the separator. */
  padding-bottom: 0.2em; /* Value must also be set in the Non-IE browsers section as padding for the separator. */
  padding-left: 0.2em;
  padding-right: 0.2em;
  vertical-align: -0.3em;
  white-space: nowrap;
  display: block;
}

*.tabStripTabsPane *.anchorBody img
{
  vertical-align: text-bottom;
}

*.tabStripTabsPane ul *.tabStripTabWrapper
{
  float: left;
  white-space: nowrap;
}

*.tabStripTabSeparator
{
  float: left;
  width: 0.3em; /* Value must also be set in the Non-IE browsers section as left-margin of the tab. */
  margin: 0;
  display: inline-block;
}

*.tabStripTab,
*.tabStripTabSelected
{
  position: relative;
  display: inline-block;
}

*.tabStripTabSeparator span,
*.tabStripTabsPane a
{
  display: block;
}

*.tabStripTabSeparator span
{
  padding-top: 1px; /* The padding used for the content span. */
  padding-bottom: 1px; /* The padding used for the content span. */
}

*.tabStripTabsPane *.last
{
  display: block;
  clear: left;
}

*.tabStrip div.clearingPane
{
  clear: both;
}
