/* Style applied to the TreeView. */

ul.treeViewRoot
{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Applied to the top level node's children area if the expandre is hidden for the top level nodes. */
ul.treeViewTopLevelNodeChildren
{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Applied to the node's children area. */
ul.treeViewNodeChildren
{
  background-image: url(../Image/TreeViewI.gif);
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Applied to the node's children area if the nodes should not be connected by lines. */
ul.treeViewNodeChildrenNoLines
{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.treeViewRoot > li,
ul.treeViewTopLevelNodeChildren > li
{
  outline: none;
}

ul.treeViewNodeChildren > li,
ul.treeViewNodeChildrenNoLines > li
{
  outline: none;
}

/* Applied to the node itself */
span.treeViewNode
{
  cursor: default;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

/* We want the tree node to span the entire line to better handle clicking and styling of the selected line.
  Since it is not possible to use a nesting-count in CSS, we need to do an explicit nesting for a reasonable depth (50 levels). 
  Once the maximum depth is reached, the formatting and behavior will revert to nesting via parent padding. */
ul.treeViewRoot span.treeViewNode
{
  padding-left: calc(19px * 0);
}

ul.treeViewRoot ul span.treeViewNode
{
  padding-left: calc(19px * 1);
}

ul.treeViewRoot ul ul span.treeViewNode
{
  padding-left: calc(19px * 2);
}

ul.treeViewRoot ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 3);
}

ul.treeViewRoot ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 4);
}

ul.treeViewRoot ul ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 5);
}

ul.treeViewRoot ul ul ul ul ul  ul span.treeViewNode
{
  padding-left: calc(19px * 6);
}

ul.treeViewRoot ul ul ul ul ul  ul ul span.treeViewNode
{
  padding-left: calc(19px * 7);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 8);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 9);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 10);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul span.treeViewNode
{
  padding-left: calc(19px * 11);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul span.treeViewNode
{
  padding-left: calc(19px * 12);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 13);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 14);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 15);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul span.treeViewNode
{
  padding-left: calc(19px * 16);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul span.treeViewNode
{
  padding-left: calc(19px * 17);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 18);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 19);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 20);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul span.treeViewNode
{
  padding-left: calc(19px * 21);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul span.treeViewNode
{
  padding-left: calc(19px * 22);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 23);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 24);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 25);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul span.treeViewNode
{
  padding-left: calc(19px * 26);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul span.treeViewNode
{
  padding-left: calc(19px * 27);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 28);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 29);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 30);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul span.treeViewNode
{
  padding-left: calc(19px * 31);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul span.treeViewNode
{
  padding-left: calc(19px * 32);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 33);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 34);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 35);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul span.treeViewNode
{
  padding-left: calc(19px * 36);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul span.treeViewNode
{
  padding-left: calc(19px * 37);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 38);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 39);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 40);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul span.treeViewNode
{
  padding-left: calc(19px * 41);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul span.treeViewNode
{
  padding-left: calc(19px * 42);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 43);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 44);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 45);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul span.treeViewNode
{
  padding-left: calc(19px * 46);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul span.treeViewNode
{
  padding-left: calc(19px * 47);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 48);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul span.treeViewNode
{
  padding-left: calc(19px * 49);
}

/* Restart nested layout at level 50 */
ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul
{
  padding-left: calc(19px * 50);
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul
{
  padding-left: 19px;
}

ul.treeViewRoot ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul  ul ul ul ul ul span.treeViewNode
{
  padding-left: 0;
}

span.treeViewNode a
{
  display: inline-block;
  vertical-align: bottom;
}

span.treeViewNode img
{
  vertical-align: bottom;
}

span.treeViewNode span
{
  display: inline-block;
}

/* Applied to the node's expander. */
span.treeViewNode > a
{
  cursor: default;
  outline: none;
}

/* Applied to the node's head. */
span.treeViewNodeHead
{
}

/* Applied to the node's head if it is the selected node. */
span.treeViewNodeHeadSelected
{
}

span.treeViewNodeHead,
span.treeViewNodeHeadSelected
{
  vertical-align: middle;
}

span.treeViewNodeHead a
{
  padding: 2px;
  color: Black;
}

span.treeViewNodeHeadSelected a
{
  background-color: Highlight;
  color: HighlightText;
  padding: 2px;
}

li:focus > span.treeViewNode span.treeViewNodeHead a,
li:focus > span.treeViewNode span.treeViewNodeHeadSelected a
{
  outline: dotted black 1px;
  outline: auto 5px -webkit-focus-ring-color;
}

span.treeViewNodeHead a:hover
{
  color: #083779;
  padding: 1px;
  border-width: 1px;
  border-color: #083779;
  border-style: solid;
  background-color: #e6f0ff;
}

span.treeViewNodeHeadSelected a:hover
{
  color: #083779;
  padding: 1px;
  border-width: 1px;
  border-color: #083779;
  border-style: solid;
  background-color: #e6f0ff;
}

span.treeViewNode ul
{
  right: auto;
}
