/* Style applied to the WebButton. */

button.webButton
{
  background-color: Transparent;
  cursor: default !important;
  text-decoration: none !important;
  border: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 2px;
  -moz-padding-start: 0;
  -moz-padding-end: 0;
  outline: none;
}

button.webButton::-moz-focus-inner
{ 
  border: 0;
}

button.webButton.mouseDown span.buttonBody
{
  background-image: url(../Image/WebButtonBackgroundHover.gif);
}

button.webButton span.buttonBody
{
  border: solid 1px black;
  font-weight: bold;
  background-color: #DDDDDD;
  background-image: url(../Image/WebButtonBackground.gif);
  background-position: center top;
  background-repeat: repeat-x;
  
  display: block;
  position: relative;
  top: 0px;
  left: -2px;
  
  width: 100%;
  white-space: nowrap;
  
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
}

button.webButton.mouseDown span.buttonBody
{
  padding-top: 3px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 0px;
}
