<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="remotion.typeDiscovery" type="Remotion.Configuration.TypeDiscovery.TypeDiscoveryConfiguration, Remotion" />
  </configSections>
  <remotion.typeDiscovery mode="CustomTypeDiscoveryService" xmlns="http://www.re-motion.org/typeDiscovery/configuration">
    <customTypeDiscoveryService type="Remotion.UnitTests::Configuration.TypeDiscovery.FakeTypeDiscoveryService"/>
  </remotion.typeDiscovery>
</configuration>