<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Empty configSections element is needed as a marker during DependDB preprocessing. See also Extensions.targets file. -->
  <configSections/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>