<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="re-motion Dependencies" value="https://nuget.re-motion.org/nuget/re-motion-debug/" />
    <add key="re-motion Infrastructure" value="https://nuget.re-motion.org/nuget/re-motion-infrastructure/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="re-motion Dependencies">
      <package pattern="CoreForms.Web" />
      <package pattern="CoreForms.Web.*" />
      <package pattern="Fork.Coypu" />
      <package pattern="Remotion.*" />
    </packageSource>
    <packageSource key="re-motion Infrastructure">
      <package pattern="DependDB.*" />
      <package pattern="Moq.VerifiableSequence" />
      <package pattern="Remotion.*" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.CodeAnalysis.Analyzer.Testing" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.Analyzer.Testing" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.CodeFix.Testing" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.CodeRefactoring.Testing" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.SourceGenerators.Testing" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>