<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataSource" value="localhost"/>
    <add key="DatabaseDirectory" value="C:\databases"/>
    <add key="DatabaseNamePrefix" value=""/>
    <add key="IntegratedSecurity" value="true"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>