<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net48" />
  <package id="CoreRhinoMocks" version="3.6.1.2" targetFramework="net48" />
  <package id="FluentValidation-Signed" version="5.0.0.1" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="NUnit" version="2.6.2" targetFramework="net48" />
</packages>