/* Style applied to the BocMultilineTextValue. */

span.bocMultilineTextValue
{
  width: 15em;
  min-height: 4.5em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
  
.bocMultilineTextValue.readOnly
{
  min-height: 0;
}

.bocMultilineTextValue.disabled
{
}

span.bocMultilineTextValue .content
{
  position: absolute;
  display: block;
  left: 0;
  right: 0.5em;
  width: auto;
  top: 0;
  bottom: 0.5em;
  height: auto;
}

.bocMultilineTextValue.readOnly .content
{
  position: static;
}

span.bocMultilineTextValue textarea
{
  width: 100%;
  height: 100%;
  display: inline-block;
}
