div#ErrorContainer
{
  color: Red;
  font-size: 1.1em;
  font-weight: bold;
  height: 1.1em;
}

div.singleViewTopControls div.content div#CurrentTenantControl
{
  float: right;
  clear: both;
}

h1.pageTitle
{
  margin: 0;
}

h2.accessControlListTitle
{
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

div.singleViewBottomControls button
{
  margin-right:0.5em;
}

button.imageButton
{
  border: none;
  background-color: Transparent;
}

div.accessControlListContainer
{
  width: 100%;
  border-top: solid 2px black;
}

table.accessControlList
{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td.stateCombinationsButtons button
{
  width:100%;
  margin-bottom: 0.5em;
}

td.accessControlEntriesButtons button
{
}

td.stateCombinationsButtons,
td.stateCombinationsContainer
{
  border-right: solid 1px #005588;
  padding-top: 0.5em;
  padding-right: 0.5em;
  width: 12em;
}

td.stateCombinationsButtons
{
  vertical-align: top;  
}

td.accessControlEntriesButtons,
td.accessControlEntriesContainer
{
  border-left: solid 1px #005588;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

td.stateCombinationsButtons,
td.accessControlEntriesButtons
{
  padding-bottom: 0.5em;
}

td.accessControlEntriesButtons
{
  text-align: right;
  vertical-align: top;
}

table.accessControlEntriesTable
{
  border-collapse: collapse;
  border-style: none;
  width: 100%;
}

table.accessControlEntriesTable th.titleCellHorizontal,
table.accessControlEntriesTable th.titleCellVertical
{
  border-bottom: solid 1px black;
}

table.accessControlEntriesTable th.titleCellHorizontal
{
  text-align: left;
  vertical-align: bottom;
}

table.accessControlEntriesTable th.titleCellVertical
{
  text-align: left;
  vertical-align: bottom;
  width: 1.5em;
}

table.accessControlEntriesTable th.titleCellVertical div
{
  writing-mode: tb-rl;
  background-color: white;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  padding-top: 0.25em;
}

table.accessControlEntriesTable tr.odd
{
  background-color: White;
}

table.accessControlEntriesTable tr.even
{
  background-color: #E1ECFC;
}

table.accessControlEntriesTable td.conditionCell
{
  width: 20%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 1em;
}

table.accessControlEntriesTable td.permissionCell
{
  padding: 0.25em;
  border-left: solid 1px #005588;
  border-right: solid 1px #005588;
}

table.accessControlEntriesTable td.buttonCell
{
  padding: 0.25em;
  width: 1em;
}

table.accessControlEntryExpanded
{
  background-color: White;
}

table.accessControlEntryExpanded td.formGridTopDataRow
{
  border-top: 0;
}

table.accessControlEntryExpanded td.formGridTitleCell
{
  display: none;
}

div.listControlContent
{
  height: 100%;
  position: relative;
}

div.listControlContent .listControlList
{
  position: relative;
  height: 95%;
  overflow-y: auto;
}

div.listControlContent .listControlButtons
{
  position: absolute;
  height: 1.8em;
  bottom: 0;
}