<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="remotion.securityManager" type="Remotion.SecurityManager.Configuration.SecurityManagerConfiguration, Remotion.SecurityManager"/>
    <sectionGroup name="remotion.data.domainObjects" type="Remotion.Data.DomainObjects.Configuration.DomainObjectsConfiguration, Remotion.Data.DomainObjects">
      <section name="storage" type="Remotion.Data.DomainObjects.Persistence.Configuration.StorageConfiguration, Remotion.Data.DomainObjects"/>
    </sectionGroup>
  </configSections>

  <remotion.securityManager xmlns="http://www.re-motion.org/SecurityManager/Configuration">
    <accessControl disableSpecificUser="false"/>
  </remotion.securityManager>

  <remotion.data.domainObjects xmlns="http://www.re-motion.org/Data/DomainObjects/Configuration/2.0">
    <storage>
      <providerDefinitions>
        <add type="Remotion.Data.DomainObjects::Persistence.Rdbms.RdbmsProviderDefinition"
            name="SecurityManager"
            factoryType="Remotion.SecurityManager::Persistence.SecurityManagerSqlStorageObjectFactory"
            connectionString="SecurityManager"/>
      </providerDefinitions>
      <groups>
        <add provider="SecurityManager" type="Remotion.Data.DomainObjects::DBStorageGroupAttribute"/>
        <add provider="SecurityManager" type="Remotion.SecurityManager::Domain.SecurityManagerStorageGroupAttribute"/>
      </groups>
    </storage>
  </remotion.data.domainObjects>

  <connectionStrings>
    <add name="SecurityManager" connectionString="Integrated Security=SSPI;Initial Catalog=SecurityManagerActaNova;Data Source=localhost"/>
  </connectionStrings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ERROR" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    
    <logger name="Remotion.SecurityManager">
      <level value="DEBUG"/>
    </logger>
  </log4net>
</configuration>
