<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="remotion.webTesting"
        type="Remotion.Web.Development.WebTesting.Configuration.WebTestConfigurationSection,Remotion.Web.Development.WebTesting" />
  </configSections>
  <remotion.webTesting xmlns="http://www.re-motion.org/WebTesting/Configuration/2.0"
      browser="Chrome"
      commandTimeout="00:13:37"
      searchTimeout="00:00:30"
      retryInterval="00:00:00.025"
      asyncJavaScriptTimeout="12:34:00"
      webApplicationRoot="http://localhost:60401/"
      screenshotDirectory=".\WebTestingOutput">
    <hosting name="IisExpress" type="IisExpress" port="60401" />
    <testSiteLayout rootPath=".\Some\Path">
      <resources>
        <add path="Some\Resource" />
      </resources>
    </testSiteLayout>
  </remotion.webTesting>
</configuration>