<?xml version="1.0" encoding="utf-8" ?>
<outputConfiguration>
  <issueOrder>
    <issue>
      <title>Bugfixes</title>
      <type>Bug</type>
    </issue>
    <issue>
      <title>Breaking Changes</title>
      <type>Breaking Change</type>
    </issue>
    <issue>
      <title>Improvements</title>
      <type>Improvement</type>
    </issue>
    <issue>
      <title>Refactoring</title>
      <type>Refactoring</type>
    </issue>
    <issue>
      <title>New Features</title>
      <type>New Feature</type>
    </issue>
    <issue>
      <title>Performance</title>
      <type>Performance</type>
    </issue>
  </issueOrder>
  <issueVisibility>
    <visibleStatus>Closed</visibleStatus>
    <visibleResolution>Fixed</visibleResolution>
  </issueVisibility>
  <projectTitle>Release notes for re-motion</projectTitle>
</outputConfiguration>