<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="requestUrlBuilder" type="Remotion.BuildTools.JiraReleaseNoteGenerator.Configuration, JiraReleaseNoteGenerator"/>
  </configSections>

  <requestUrlBuilder
    url = "https://www.re-motion.org/jira"
    project = "RM" 
	xsltConfigFile = ".\XmlUtilities\Config.xml"
    xsltStyleSheetPath = ".\XmlUtilities\Main.xslt"
    xsltProcessorPath = ".\XmlUtilities\Saxon\Transform.exe" />
	 
</configuration>