/* Style applied to the BocCheckBox. */

.bocCheckBox
{
  margin-right: 0.5em;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
}

.bocCheckBox.readOnly
{
}

.bocCheckBox.disabled
{
}

.bocCheckBox input
{
  margin-left: 4px;
  margin-right: 3px;
  padding: 0px;
  vertical-align: -0.1em;
}

.bocCheckBox span + span
{
  vertical-align: middle;
}

.bocCheckBox img
{
  margin-left: 0px;
  margin-right: 0;
  padding: 0px;
  vertical-align: middle;
}

body.msie7 .bocCheckBox img
{
  margin-left: 4px;
}

body.msie7 .bocCheckBox input + span
{
  vertical-align: 0.1em;
}
