/*  Style applied to the form grid table's outer structure  */
table.formGridTable
{
  border-collapse: collapse;
  border-width: 0;
  width: 100%;
  color: black;
  background-color: white;
}

td.formGridTitleCell,
td.formGridSubTitleCell
{
  font-weight: bold;
  font-size: 125%;
  padding: 2px 2px 2px 2px;
  border: none;
}

td.formGridTitleCell h1
{
  width: 100%;
  border-bottom: solid 1px #AAAAAA;
}

/*  Style applied to the cells containing the labels  */
td.formGridLabelsCell
{
  background-color: #F0F0F0;
  text-align: right;
  padding: 0.3em 1em 0.3em 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #C8C8C8;
  width: 17%;
}

/*  Style applied to the cells containing the markers  */
td.formGridMarkersCell
{
  white-space: nowrap;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #C8C8C8;
  width: 1%;
}

td.formGridMarkersCell img
{
  min-width: 12px;
  border: none;
}

td.formGridMarkersCell img[src$="Help"]
{
  height: 16px;
  width: 16px;
}

td.formGridMarkersCell img[src$="ValidationError"],
td.formGridMarkersCell img[src$="RequiredField"]
{
  height: 20px;
  width: 20px;
  margin-right: -8px;
  margin-bottom: -4px;
}

/*  Style applied to the cells containing the controls  */
td.formGridControlsCell
{
  padding: 0.3em 1em 0.3em 0em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #C8C8C8;
  width: auto;
}

.formGridControlsCell > div
{
  display: table;
  width: 100%;
  height: 100%;
}

.formGridControlsCell > div > div:first-child
{
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.formGridControlsCell > div > div:first-child + div
{
  display: table-row;
  width: 100%;
}

/*  Style applied to the cells containing the validation messages, 
*   if a seperate column is specified  */
td.formGridValidationMessagesCell
{
  padding: 2px 7px 2px 7px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #C8C8C8;
  border-color: White;
}

/*  Style applied to the cells in the first row after the title row  */
td.formGridTopDataRow
{
  border-top: solid 1px #AAAAAA;
}

/*  Style applied to the validation messages, additiv to formGridValidationMessagesCell  */
.formGridValidationMessage
{
  color: Red;
}

/*  Style applied to the validators created by FormGridManager  */
.formGridValidator
{
  color: Red;
}

/*  Style applied to the validation notice that can be displayed by the ValidationStateViewer  */
.formGridValidationNotice
{
  color: Red;
}

.formGridMarkersCell a[aria-label]:not([title]),
.formGridMarkersCell a[aria-label]:not([title])
{
  position: relative;
}

.formGridMarkersCell a[aria-label]:not([title])::after,
.formGridMarkersCell a[aria-label]:not([title])::after
{
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0;
  transition-delay: 0;
  transition-timing-function: linear;

  content: attr(aria-label);
  white-space: pre;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 1.2em;
  z-index: 1000;
  padding: 0.25em;
  border: 1px solid Black;
  background-color: Lightyellow;
  box-sizing: border-box;
}

.formGridMarkersCell a[aria-label]:not([title]):focus::after,
.formGridMarkersCell a[aria-label]:not([title]):hover::after
{
  visibility: visible;
  transition-delay: 0.7s;
}
