/* Style applied to the SmartPage. */

#SmartPageStatusIsSubmittingMessage
{
  background-color: White;
  z-index: 2147483647;
}

#SmartPageStatusIsSubmittingMessage td
{
  background-color: White;
  border: solid 3pt Gray;
  font-weight: bold;
  color: Gray;
}

.SmartPageErrorBody
{
  text-align:left; 
  background-color:white;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em;
  z-index: 2147483647;
}

.SmartPageErrorBody > div
{
  font-family: "Verdana" !important;
  font-weight: normal !important;
  font-size: 0.85em !important;
  color: black !important;
}

.SmartPageErrorBody p
{
  font-family: "Verdana" !important;
  font-weight: normal !important;
  color: black !important;
  margin-top: -5px !important;
}

.SmartPageErrorBody b
{
  font-family: "Verdana" !important;
  font-weight: bold !important;
  color: black !important;
  margin-top: -5px !important;
}

.SmartPageErrorBody h1
{
  font-family: "Verdana" !important;
  font-weight: normal !important;
  font-size: 18pt !important;
  color: red !important;
}

.SmartPageErrorBody h2
{
  font-family: "Verdana" !important;
  font-weight: normal !important;
  font-size: 14pt !important;
  color: maroon !important;
}

.SmartPageErrorBody pre
{
  font-family: "Lucida Console" !important;
  font-size: .9em !important;
}

.SmartPageErrorBody .marker
{
  font-weight: bold !important;
  color: black !important;
  text-decoration: none !important;
}

.SmartPageErrorBody.version
{
  color: gray !important;
}

.SmartPageErrorBody .error
{
  margin-bottom: 10px !important;
}

.SmartPageErrorBody .expandable
{
  text-decoration: underline !important;
  font-weight: bold !important;
  color: navy !important;
  cursor: hand !important;
}

.SmartPageErrorBody iframe
{
  width: 100%;
  height: calc(100% - 5em);
  border: hidden;
}

/*html.SmartPageBusy .SmartPageSubmitter,
html.SmartPageBusy button:focus,
html.SmartPageBusy input:focus,
html.SmartPageBusy select:focus,
html.SmartPageBusy a:focus
{
  opacity: 0.4;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40), progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}
*/

/*html.SmartPageBusy,
html.SmartPageBusy *
{
  cursor: wait !important;
}

html,
html *
{
  cursor: default;
}*/