/* Style applied to the TabbedMenu. */
table.tabbedMenu
{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td.tabbedMainMenuCell
{
  padding: 0;
  padding-top: 0.25em;
  background-color: White;
}

td.tabbedSubMenuCell
{
  background-color: White;
  padding: 0.3em;
  border-bottom: solid 1px #AAAAAA;
}

td.tabbedSubMenuCell ul
{
  overflow: hidden;
}

td.tabbedMenuStatusCell
{
  background-color: White;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.8em;
  color: Black;
  text-align: right;
  white-space: nowrap;
  border-bottom: solid 1px #AAAAAA;
}

/* Main Menu Tabstrip */
div.tabbedMainMenu div.tabStripTabsPane
{
  border-bottom: solid 1px #AAAAAA;
}

div.tabbedMainMenu span.tabStripTabWrapper
{
  padding-top: 0.3em;
  /*margin-bottom: -1px;*/
  display: inline;
  position: static;
}

div.tabbedMainMenu span.tabStripTabSeparator
{
  display: none; /* magin-left must be set to 0 in the Non-IE browsers section for tabStripTab and tabStripTabSelected. */
}

div.tabbedMainMenu span.tabStripTab a,
div.tabbedMainMenu span.tabStripTabSelected a
{
  padding-top: 0.1em;
  padding-bottom: 0;
  margin-bottom: -1px;
  display: inline-block;
  position: relative;
}

div.tabbedMainMenu span.tabStripTab a img,
div.tabbedMainMenu span.tabStripTabSelected a img
{
  position: relative;
  top: -0.1em;
  vertical-align: middle;
}

div.tabbedMainMenu span.tabStripTab a
{  
  border-top: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  border-left: none;
  background-color: #DDDDDD;
  background-image: url(../Image/TabbedMenuTabBackground.gif);
  background-repeat: repeat-x;
  background-position: center;
  color: Black;
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;
}

div.tabbedMainMenu span.tabStripTab a:focus,
div.tabbedMainMenu span.tabStripTab a:hover,
div.tabbedMainMenu span.tabStripTab a:active
{
  background-color: #FEFFFF;
  background-image: url(../Image/TabbedMenuTabBackgroundHover.gif);
  background-repeat: repeat-x;
  background-position: top;
  color: Black;
  outline: none;
}

div.tabbedMainMenu span.tabStripTab a:focus
{
  text-decoration: underline;
}

div.tabbedMainMenu span.tabStripTabSelected a
{
  border-top: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  border-bottom: none;
  border-left: none;
  background: none;
  background-color: White;
  color: Black;
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;
}

div.tabbedMainMenu span.tabStripTabSelected a:after
{
  content: '';
  display: block;
  /* Use a separate border element to ensure sharp corners instead of transitioning at the point where the border colors meet. */
  border-bottom: solid 1px White;
}

div.tabbedMainMenu span.tabStripTabSelected a:focus,
div.tabbedMainMenu span.tabStripTabSelected a:hover,
div.tabbedMainMenu span.tabStripTabSelected a:active
{
  color: Black;
  background: none;
  background-color: White;
  outline: none;
}

div.tabbedMainMenu span.tabStripTabSelected a:focus
{
  text-decoration: underline;
}

div.tabbedMainMenu span.tabStripTab.disabled a,
div.tabbedMainMenu span.tabStripTab.disabled a:hover,
div.tabbedMainMenu span.tabStripTab.disabled a:active
{
  color: #AAAAAA;
  background: none;
  background-color: #efefef;
  text-decoration: none;
}

div.tabbedMainMenu span.tabStripTab.disabled img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

/* Content area of the tab */
div.tabbedMainMenu li span.anchorBody
{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

div.tabbedMainMenu div.clearingPane
{
  clear: both;
}

/* Sub Menu Tabstrip */
div.tabbedSubMenu div.tabStripTabsPane
{
}

div.tabbedSubMenu div.tabStripTabsPane.empty
{
  padding-top: 0.4em; /* padding from tabStripTabWrapper, tabStripTab and content */
}

div.tabbedSubMenu span.tabStripTabSeparator
{
  display: none; /* magin-left must be set to 0 in the Non-IE browsers section for tabStripTab and tabStripTabSelected. */
}

div.tabbedSubMenu span.tabStripTab,
div.tabbedSubMenu span.tabStripTabSelected
{
  border-right: solid 1px #AAAAAA;

  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;

  height: 1.5em;
}

div.tabbedSubMenu span.tabStripTab a,
div.tabbedSubMenu span.tabStripTabSelected a
{
  display: inline-block;
  position: relative;
  padding-top: 0.1em;
}

div.tabbedSubMenu span.tabStripTab a img,
div.tabbedSubMenu span.tabStripTabSelected a img
{
  position: relative;
  top: -0.1em;
  vertical-align: middle;
}

div.tabbedSubMenu span.tabStripTab a
{
  border: none;
  background: none;
  background-color: White;
  color: Black;
  text-decoration: none;
}

div.tabbedSubMenu span.tabStripTab a:focus
{
  outline: dotted black 1px;
  outline: auto 5px -webkit-focus-ring-color;
}

div.tabbedSubMenu span.tabStripTab a:focus,
div.tabbedSubMenu span.tabStripTab a:hover,
div.tabbedSubMenu span.tabStripTab a:active,
div.tabbedSubMenu span.tabStripTabSelected a:focus,
div.tabbedSubMenu span.tabStripTabSelected a:hover,
div.tabbedSubMenu span.tabStripTabSelected a:active
{
  background-color: White;
  color: Black;
  text-decoration: none;
}

div.tabbedSubMenu span.tabStripTabSelected a,
div.tabbedSubMenu span.tabStripTabSelected a:focus
{
  border: none;
  background: none;
  background-color: White;
  color: Black;
  text-decoration: underline;
}

div.tabbedSubMenu span.tabStripTab.disabled a,
div.tabbedSubMenu span.tabStripTab.disabled a:hover,
div.tabbedSubMenu span.tabStripTab.disabled a:active
{
  color: #AAAAAA;
  background: none;
  background-color: White;
  text-decoration: none;
}

div.tabbedSubMenu span.tabStripTab.disabled img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

/* Content area of the tab */
div.tabbedSubMenu span.anchorBody
{
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

div.tabbedSubMenu div.tabStripTabsPane.empty
{
  padding-top: 1.7em;
}

div.tabbedSubMenu div.clearingPane
{
  clear: both;
}
