/* Style applied to the TabStrip. */

/* Applied to the tab strip itself.*/
*.tabStrip
{
}

*.tabStripTabsPane
{
}

*.tabStripTabsPane.empty
{
}

*.tabStripTabsPane ul
{
  margin: 0;
  padding: 0px;
  list-style: none;
  width: auto;
}

*.tabStripTabsPane ul li
{
  display: inline;
}

*.tabStripTab a
{
  border: solid 1px #AAAAAA;
  background-image: url(../Image/ButtonBackground.gif);
  background-color: #E6E5E7;
  color: Black;
  text-decoration: none;
  cursor: default;
}

*.tabStripTab a[href]
{
  color: Black;
  cursor: hand;
  cursor: pointer;
  outline: none;
}

*.tabStripTab a:focus,
*.tabStripTab a:hover
{
  color: Black;
  border: solid 1px #7CB2E6;
  background-image: url(../Image/ButtonBackgroundHover.gif);
  background-color: #E5F0FC;
}

*.tabStripTab a:focus span.anchorBody > img:only-child
{
  outline: dotted black 1px;
  outline: auto 5px -webkit-focus-ring-color;
}

*.tabStripTab a:focus span.anchorBody > span
{
  text-decoration: underline;
}

*.tabStripTab a:active
{
  color: Black;
  border: solid 1px #569CE0;
  background-image: url(../Image/ButtonBackgroundActive.gif);
  background-color: #C5E0FC;
}

*.tabStripTabSelected a
{
  border: solid 1px #AAAAAA;
  background-image: none;
  background-color: White;
  color: Black;
  text-decoration: none;
}

*.tabStripTab a,
*.tabStripTabSelected a
{
  /* Workaround for IE-issue with a span inside an anchor tag blocking the :active pseudo class. */
  position: relative;
}

/* Workaround for IE-issue with a span inside an anchor tag blocking the :active pseudo class. */
*.tabStripTab a::before,
*.tabStripTabSelected a::before
{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* IE 9 Selection fix*/
  background-color: rgba(0,0,0,0);
}

*.tabStripTab.disabled a,
*.tabStripTab.disabled a:focus,
*.tabStripTab.disabled a:hover
{
  color: Gray;
  background-color: #EFEFF0;
}

*.tabStripTab.disabled > img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

/* Content area of the tab */
*.tabStripTabsPane *.anchorBody
{
  padding-top: 0.2em; /* Value must also be set in the Non-IE browsers section as padding for the separator. */
  padding-bottom: 0.2em; /* Value must also be set in the Non-IE browsers section as padding for the separator. */
  padding-left: 0.2em;
  padding-right: 0.2em;
  white-space: nowrap;
  display: block;
}

*.tabStripTabsPane *.anchorBody > img
{
  vertical-align: middle;
}

*.tabStripTabsPane *.anchorBody > span
{
}


*.tabStripTabsPane ul *.tabStripTabWrapper
{
  float: left;
  white-space: nowrap;
}

*.tabStripTabSeparator
{
  float: left;
  width: 0.3em; /* Value must also be set in the Non-IE browsers section as left-margin of the tab. */
  margin: 0;
  display: inline-block;
}

*.tabStripTab,
*.tabStripTabSelected
{
  position: relative;
  display: inline-block;
}

*.tabStripTabSeparator span,
*.tabStripTabsPane a
{
  display: block;
}

*.tabStripTabsPane *.last
{
  display: block;
  clear: left;
}

*.tabStripTabSeparator span
{
  padding-top: 1px; /* The padding used for the content span. */
  padding-bottom: 1px; /* The padding used for the content span. */
}

*.tabStrip div.clearingPane
{
  clear: both;
}
