/* Style applied to the TreeView. */

ul.treeViewRoot
{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Applied to the top level node's children area if the expandre is hidden for the top level nodes. */
ul.treeViewTopLevelNodeChildren
{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Applied to the node's children area. */
ul.treeViewNodeChildren
{
  background-image: url(../Image/sprite.svg#TreeViewI);
  background-size: 19px 22px;
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Applied to the node's children area if the nodes should not be connected by lines. */
ul.treeViewNodeChildrenNoLines
{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.treeViewRoot a
{
  outline: none;
}

ul.treeViewRoot > li,
ul.treeViewTopLevelNodeChildren > li
{
}

ul.treeViewNodeChildren > li,
ul.treeViewNodeChildrenNoLines > li
{
}

/* Applied to the node itself */
span.treeViewNode
{
  cursor: default;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

ul.treeViewRoot.whitespaceNoWrap span.treeViewNode
{
  white-space: nowrap;
}

ul.treeViewRoot span.treeViewNode
{
  padding-left: calc(19px * var(--nesting-depth));
}

ul.treeViewRoot ul.treeViewTopLevelNodeChildren span.treeViewNode
{
  padding-left: calc(19px * (var(--nesting-depth) - 1));
}

/* Applied to the node's expander. */
span.treeViewNode > a
{
  cursor: default;
  outline: none;
  display: block;
  float: left;
}

span.treeViewNode > a img
{
  vertical-align: bottom;
}

span.treeViewNode > a img.Icon
{
  height: 20px;
  width: 20px;
  margin-right: -1px;
  margin-bottom: 2px;
}

/* Applied to the node's head. */
span.treeViewNodeHead
{
}

/* Applied to the node's head if it is the selected node. */
span.treeViewNodeHeadSelected
{
}

span.treeViewNodeHead,
span.treeViewNodeHeadSelected
{
  display: inline-block;
  height: 1.7em;
}

/* Nodes with an expander icon */
span.treeViewNodeHead a,
span.treeViewNodeHeadSelected a
{
  vertical-align: -0.4em;

  padding: 2px;
  /* Synchronized with focus/hover */
  padding-top: 3px;
  padding-bottom: 3px;

  color: Black;
}

span.treeViewNodeHead a:focus,
span.treeViewNodeHead a:hover,
span.treeViewNodeHeadSelected a:focus,
span.treeViewNodeHeadSelected a:hover
{
  padding: 1px;
  /* Ensures that diacritic marks can be rendered without being cut off while not chaning the overall height of the node. */
  padding-top: 2px;
  padding-bottom: 2px;

  border: 1px solid #7CB2E6;
  background-color: #E5F0FC;
  outline: none;
}

span.treeViewNodeHeadSelected a:focus
{
  outline: none;
}

span.treeViewNodeHead a:focus > span,
span.treeViewNodeHead a:focus:hover > span,
span.treeViewNodeHeadSelected a:focus > span
{
  text-decoration: underline;
}

span.treeViewNodeHead a:active,
span.treeViewNodeHeadSelected a,
span.treeViewNodeHeadSelected a:active
{
  padding: 1px;
  /* Synchronized with focus/hover */
  padding-top: 2px;
  padding-bottom: 2px;

  border: 1px solid #569CE0;
  background-color: #C5E0FC;
}

span.treeViewNodeHead img,
span.treeViewNodeHeadSelected img
{
  vertical-align: -4px;
}

span.treeViewNodeHead span,
span.treeViewNodeHeadSelected span
{
  vertical-align: -1px;
}

span.treeViewNode ul
{
  right: auto;
}

span.treeViewNodeBadge
{
  vertical-align: calc(-0.4em - 1px);
  padding: 1em;
  /* Synchronized with focus/hover */
  padding-top: 3px;
  padding-bottom: 3px;
  user-select: none;
}
