/* Style applied to the BocBooleanValue. */

.bocBooleanValue
{
  display: inline-flex;
  align-items: center;
}

.bocBooleanValue span.description
{
  display: inline-flex;
  align-items: center;
}

.bocBooleanValue img
{
  margin: var(--remotion-themed-spacing);
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
}

/* Fixes for element focus */

.bocBooleanValue a[role=checkbox]:focus
{
  outline: none;
}

.blink .bocBooleanValue a[role=checkbox]:focus > img
{
  box-shadow: var(--chromium-box-shadow);
  border-radius: var(--chromium-border-radius);
}

.mozilla .bocBooleanValue a[role=checkbox]:focus > img
{
  box-shadow: var(--mozilla-box-shadow);
  border-radius: var(--mozilla-border-radius);
}
