/* Style applied to the BocCheckBox. */

.bocCheckBox
{
  margin-right: calc(1.25 * var(--remotion-themed-padding));
  white-space: nowrap;
}

.bocCheckBox input
{
  position: absolute;
  z-index: -1;
}

.bocCheckBox > span:last-child
{
  display: inline-flex;
  align-items: center;
}

.bocCheckBox img,
.bocCheckBox input + span::before
{
  margin: 2px;
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
}

.bocCheckBox input + span::before
{
  visibility: visible;
  background-image: url('../Image/sprite.svg#CheckBoxFalse');
  display: inline-block;
  content: "";
  z-index: 1;
  position: relative;
}

.bocCheckBox input[checked] + span::before
{
  background-image: url('../Image/sprite.svg#CheckBoxTrue');
}

.bocCheckBox,
.bocCheckBox > input + span
{
  display: flex;
  align-items: center;
}

/* Fixes for element focus */

.bocCheckBox span[role=checkbox]:focus
{
  outline: none;
}

.blink .bocCheckBox span[role=checkbox]:focus > img,
.blink .bocCheckBox input:focus + span::before
{
  box-shadow: var(--chromium-box-shadow);
  border-radius: var(--chromium-border-radius);
}

.mozilla .bocCheckBox span[role=checkbox]:focus > img,
.mozilla .bocCheckBox input:focus + span::before
{
  box-shadow: var(--mozilla-box-shadow);
  border-radius: var(--mozilla-border-radius);
}
