/* Style applied to the BocCheckBox. */

.bocCheckBox
{
  display: inline-flex;
  align-items: center;
  border: var(--remotion-themed-border-placeholder);
  border-radius: var(--remotion-themed-border-radius);
  box-sizing: border-box;
  vertical-align: middle;
  min-width: min-content;
}

.bocCheckBox:not(.readOnly) input + span
{
  display: inline-flex;
  align-items: center;
  margin-left: var(--remotion-themed-spacing);
  margin-right: var(--remotion-themed-spacing);
}

.bocCheckBox:not(.readOnly) input + span::before
{
  min-height: unset;
  height: var(--remotion-themed-img-width);
  width: var(--remotion-themed-img-width);
  border: unset;
  outline: unset;
}

.bocCheckBox:not(.readOnly) input:focus + span::before
{
  border: unset;
  outline: unset;
  box-shadow: unset;
}

.bocCheckBox span.description
{
  display: inline-flex;
  align-items: center;
  margin-right: var(--remotion-themed-spacing);
}

.bocCheckBox.readOnly span.description
{
  margin-left: var(--remotion-themed-spacing);
}

.bocCheckBox:not(.readOnly, .disabled):focus-within
{
  outline: var(--remotion-themed-outline-focus);
  outline-offset: var(--remotion-themed-outline-offset-focus);
  background-color: var(--remotion-themed-background-color-focus);
  border: var(--remotion-themed-border-focus);
  box-shadow: var(--remotion-themed-box-shadow-focus);
}

.bocCheckBox.readOnly:focus-within
{
  outline: var(--remotion-themed-outline-readonly-focus);
  outline-offset: var(--remotion-themed-outline-offset-readonly-focus);
  border: var(--remotion-themed-border-readonly-focus);
  background-color: var(--remotion-themed-background-color-readonly-focus);
  box-shadow: var(--remotion-themed-box-shadow-readonly-focus);
}

.bocCheckBox.disabled span.description
{
  color: var(--color-disabled-text);
}
