/* Style applied to the BocCheckBox. */

.bocCheckBox
{
  display: inline-flex;
  align-items: center;
}

.bocCheckBox input
{
  position: absolute;
  z-index: var(--z-index-hidden);
}

.bocCheckBox span.description
{
  display: inline-flex;
  align-items: center;
}

.bocCheckBox img,
.bocCheckBox input ~ span.checkbox-visualizer::before
{
  margin: var(--remotion-themed-padding);
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
}

.bocCheckBox input ~ span.checkbox-visualizer::before
{
  background-image: url('../Image/sprite.svg#CheckBoxFalse');
  display: inline-block;
  content: "";
  z-index: 1;
  position: relative;
}

.bocCheckBox input[checked] ~ span.checkbox-visualizer::before
{
  background-image: url('../Image/sprite.svg#CheckBoxTrue');
}

/* Fixes for element focus */

.bocCheckBox span[role=checkbox]:focus
{
  outline: none;
}

.blink .bocCheckBox span[role=checkbox]:focus > img,
.blink .bocCheckBox input:focus + span::before
{
  box-shadow: var(--chromium-box-shadow);
  border-radius: var(--chromium-border-radius);
}

.mozilla .bocCheckBox span[role=checkbox]:focus > img,
.mozilla .bocCheckBox input:focus + span::before
{
  box-shadow: var(--mozilla-box-shadow);
  border-radius: var(--mozilla-border-radius);
}
