.bocEnumValue
{
  --label-alignment-margin: 0.125em;
  --icon-alignment-margin: 0.25em;
  --negative-icon-alignment-margin: -0.375em;
}

.bocEnumValue,
.bocEnumValue.readOnly
{
  display: inline-flex;
  width: var(--remotion-themed-control-width);
  min-height: var(--remotion-themed-singleline-min-height);
  align-items: center;
}

.bocEnumValue.radioButtonList
{
  min-width: var(--remotion-themed-control-width);
  width: auto;
}

.bocEnumValue table
{
  display: inline;
}

.bocEnumValue tr
{
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--remotion-themed-spacing-large);
}

.bocEnumValue td,
.bocEnumValue.disabled td > span
{
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  gap: var(--remotion-themed-spacing);
  white-space: nowrap;
}

.bocEnumValue input
{
  /* Has to be set explicitely for input. */
  margin: 0;
}

.bocEnumValue input:not([disabled]):hover,
.bocEnumValue input:not([disabled]) + label:hover
{
  cursor: pointer;
}

.bocEnumValue select
{
  width: 100%;
}

.bocEnumValue option
{
  padding: calc(var(--remotion-themed-spacing) * 0.75);
  border-radius: var(--remotion-themed-border-radius);
}

.bocEnumValue select:not([disabled]) option:hover
{
  background-color: var(--color-highlight);
}

.bocEnumValue.readOnly
{
  box-sizing: border-box;
  align-items: center;
  width: fit-content;
}

.bocEnumValue.readOnly span[tabindex]
{
  min-height: var(--remotion-themed-singleline-min-height);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--remotion-themed-control-padding-readonly);
  border: var(--remotion-themed-border-readonly);
  border-radius: var(--remotion-themed-border-radius);
}

.bocEnumValue.readOnly span[tabindex]:focus-visible
{
  outline: none;
  border: var(--remotion-themed-border-readonly-focus);
  background-color: var(--remotion-themed-background-color-readonly-focus);
  box-shadow: var(--remotion-themed-box-shadow-readonly-focus);
}

.bocEnumValue.readOnly span[tabindex]:empty
{
  /* Ensures that the keyboard focus of empty readonly values surrounds the entire width of the span. */
  width: 100%;
}

.bocEnumValue.readOnly span[tabindex]:empty:before
{
  /* Inserting a 'zero width space' unicode character as placeholder so that empty 
    readonly values are not collapsed and can therefore visualize the keyboard focus. 
    This also scales with the font size and min-height doesn't have to be set since
    line height remains unchanged. */
  content: "\200b";
}

.bocEnumValue.readOnly span[tabindex]:focus
{
  outline: none;
  border: var(--remotion-themed-border-readonly-focus);
  background-color: var(--remotion-themed-background-color-readonly-focus);
  box-shadow: var(--remotion-themed-box-shadow-readonly-focus);
}

.bocEnumValue.radioButtonList label
{
  padding: var(--remotion-themed-spacing-small);
  border: var(--remotion-themed-border-placeholder);
  border-radius: var(--remotion-themed-border-radius);
}

.bocEnumValue.radioButtonList input:focus + label
{
  background-color: var(--remotion-themed-background-color-focus);
  border: var(--remotion-themed-border-focus);
  box-shadow: var(--remotion-themed-box-shadow-focus);
}

.bocEnumValue input[type=radio] + label
{
  margin-bottom: var(--label-alignment-margin);
}

.bocEnumValue input[type=radio] + label:before
{
  margin-bottom: var(--negative-icon-alignment-margin);
  margin-right: var(--icon-alignment-margin);
}

