div.bocList
{
  --boclist-grid-row-template: auto;
  --boclist-grid-row-placement: 1;
  --boclist-tablehead-background-color: var(--color-contrast);
  --boclist-listmenu-background-color: var(--color-contrast);
  --boclist-tableheader-border: var(--remotion-themed-border-width) solid var(--color-standard-border);
  --boclist-tabledata-border: var(--remotion-themed-border-width) solid var(--color-standard-separator);
  --boclist-menublock-minimum-width: 10em;
  --boclist-menublock-maximum-width: auto;
  --boclist-validationrow-minimum-width: 20em;
}

/*region root*/
div.bocList
{
  display: grid;
  grid-template-rows: var(--boclist-grid-row-template);
  grid-template-columns: 1fr minmax(var(--boclist-menublock-minimum-width), var(--boclist-menublock-maximum-width));
  height: auto;
}
/*endregion*/

/*region bocListTableContainer*/
div.bocList div.bocListTableBlock.hasNavigator div.bocListTableContainer
{
  grid-row: 1;
}

div.bocList div.bocListTableBlock div.bocListTableContainer
{
  grid-row: 1 / span 2;
  position: relative;
  overflow: clip;
}

div.bocList.hasDimensions  div.bocListTableBlock div.bocListTableContainer
{
  background-color: var(--boclist-tablehead-background-color);
}
/*endregion*/

/*region bocListTableScrollContainer*/
div.bocList div.bocListTableBlock div.bocListTableContainer div.bocListTableScrollContainer
{
  background-color: var(--remotion-themed-background-color-page);
  scrollbar-width: var(--remotion-themed-scrollbar-style);
  scrollbar-color: var(--remotion-themed-scrollbar-color);
  display: block;
  overflow: auto;
}

div.bocList.hasDimensions div.bocListTableBlock div.bocListTableContainer div.bocListTableScrollContainer
{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: var(--boclist-tableheader-border);
}
/*endregion*/

/*#region bocListTableBody*/
div.bocList:not(.hasDimensions) div.bocListTableBlock div.bocListTableContainer div.bocListTableScrollContainer table.bocListTable tbody.bocListTableBody
{
  border-top: var(--boclist-tableheader-border);
}
/*#endregion*/

/*region cells*/
div.bocList table.bocListTable th.bocListTitleCell,
div.bocList table.bocListTable td.bocListTitleCell,
div.bocList table.bocListTable td.bocListDataCell
{
  border-top: none;
  border-right: none;
  border-left: none;
  padding: calc(var(--remotion-themed-spacing) / 2);
}

div.bocList table.bocListTable td.bocListDataCell
{
  vertical-align: top;
}

div.bocList table.bocListTable td.bocListTitleCell.bocListTitleCellAllRowsSelector,
div.bocList table.bocListTable td.bocListDataCellRowSelector
{
  padding-bottom: 0;
}

div.bocList table.bocListTable th.bocListTitleCell,
div.bocList table.bocListTable td.bocListTitleCell
{
  font-weight: normal;
  text-align: left;
  background-color: var(--boclist-tablehead-background-color);
  white-space: nowrap;
}

div.bocList table.bocListTable td.bocListTitleCell.bocListTitleCellAllRowsSelector > input + span::before,
div.bocList table.bocListTable td.bocListDataCellRowSelector > input + span::before
{
  min-height: calc(var(--remotion-themed-line-height) + var(--remotion-themed-spacing));
  width: calc(var(--remotion-themed-line-height) + var(--remotion-themed-spacing));
}

div.bocList table.bocListTable th.bocListTitleCell > a,
div.bocList table.bocListTable th.bocListTitleCell > span,
div.bocList table.bocListTable td.bocListTitleCell > span
{
  display: inline-flex;
  align-items: center;
  padding: calc(var(--remotion-themed-spacing) / 2) var(--remotion-themed-spacing);
  gap: var(--remotion-themed-spacing-small);
}

div.bocList table.bocListTable th.bocListTitleCell > a > img,
div.bocList table.bocListTable th.bocListTitleCell > span > img
{
  width: var(--remotion-themed-img-width);
  height: var(--remotion-themed-img-width);
}

div.bocList table.bocListTable th.bocListTitleCell > span
{
  /* Prevent layout changes due to a missing border for anchor when switching between sortable/non-sortable. */
  border: var(--remotion-themed-border-placeholder);
}

div.bocList table.bocListTable td.bocListDataCell:not(.bocListDataCellEditModeButtons) > div.bocListCellStructureElement
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: var(--remotion-themed-spacing-small);
}

div.bocList table.bocListTable td.bocListDataCell *.bocListCellStructureElement > a:not([hidden])
{
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;  padding: calc(var(--remotion-themed-spacing) / 2) var(--remotion-themed-spacing);
}

div.bocList table.bocListTable td.bocListDataCell *.bocListCellStructureElement > div:not([hidden], .bocListCellStructureElement)
{
  display: flex;
  align-items: center;
  box-sizing: border-box;  padding: calc(var(--remotion-themed-spacing) / 2) var(--remotion-themed-spacing);
  width: 100%;
}

div.bocList table.bocListTable td.bocListDataCell > div.bocListContent > div[onclick],
div.bocList table.bocListTable td.bocListDataCell *.bocListCellStructureElement > div.bocListContent > div[onclick]
{
  width: inherit;
}

div.bocList table.bocListTable td.bocListTitleCell.bocListTitleCellAllRowsSelector > span,
div.bocList table.bocListTable td.bocListDataCell.bocListDataCellRowSelector > span
{
  padding: revert;
}

div.bocList table.bocListTable td.bocListTitleCell.bocListTitleCellAllRowsSelector:first-child > span,
div.bocList table.bocListTable td.bocListDataCell.bocListDataCellRowSelector:first-child > span
{
  padding-left: var(--remotion-themed-spacing);
}

div.bocList table.bocListTable th.bocListTitleCell,
div.bocList table.bocListTable td.bocListTitleCell
{
  height: var(--remotion-themed-singleline-min-height);
}

div.bocList table.bocListTable th.bocListTitleCell > a,
div.bocList table.bocListTable td.bocListDataCell *.bocListCellStructureElement > a
{
  color: var(--color-primary);
  text-decoration: none;
}

div.bocList table.bocListTable th.bocListTitleCell > a,
div.bocList table.bocListTable td.bocListDataCell *.bocListCellStructureElement > a,
div.bocList table.bocListTable td.bocListDataCell:not(.bocListDataCellValidationFailureIndicator) *.bocListCellStructureElement > div:not(.bocListCellStructureElement)
{
  border-radius: var(--remotion-themed-border-radius);
  border: var(--remotion-themed-border-placeholder);
}

div.bocList table.bocListTable th.bocListTitleCell > a:hover,
div.bocList table.bocListTable td.bocListDataCell *.bocListCellStructureElement > a:hover
{
  color: var(--color-standard-text);
  background-color: var(--remotion-themed-background-color-hover);
  border: var(--remotion-themed-border-hover);
  box-shadow: var(--remotion-themed-box-shadow-hover);
}

div.bocList table.bocListTable th.bocListTitleCell > a:focus,
div.bocList table.bocListTable td.bocListDataCell *.bocListCellStructureElement > a:focus
{
  outline: none;
  color: var(--color-standard-text);
  background-color: var(--remotion-themed-background-color-focus);
  border: var(--remotion-themed-border-focus);
  box-shadow: var(--remotion-themed-box-shadow-focus);
}

div.bocList table.bocListTable th.bocListTitleCell > a:focus:hover,
div.bocList table.bocListTable td.bocListDataCell *.bocListCellStructureElement > a:focus:hover
{
  color: var(--color-standard-text);
  background-color: var(--remotion-themed-background-color-focus-hover);
  border: var(--remotion-themed-border-focus-hover);
  box-shadow: var(--remotion-themed-box-shadow-focus-hover);
}

div.bocList table.bocListTable tr.bocListDataRow td.bocListDataCell
{
  background-color: var(--remotion-themed-background-color-page);
}

div.bocList table.bocListTable tr.bocListDataRow td.bocListDataCell *.bocListCellStructureElement > div.bocListContent > img,
div.bocList table.bocListTable tr.bocListDataRow td.bocListDataCell *.bocListCellStructureElement > a > img
{
  align-self: start;
}

div.bocList table.bocListTable tr.bocListDataRow td.bocListDataCell *.bocListCellStructureElement > div.bocListContent > img,
div.bocList table.bocListTable tr.bocListDataRow td.bocListDataCell *.bocListCellStructureElement > a > img
{
  /* Intended gap between the image and the text is --remotion-themed-spacing. Given there is already a non-breaking-space rendered after the image
     we only place half the spaceing and assume this will result in a visually fitting distance. */
  margin-right: var(--remotion-themed-spacing-small);
}

div.bocList table.bocListTable tr.bocListDataRow.selected td.bocListDataCell
{
  background-color: var(--color-highlight);
}

div.bocList table.bocListTable tr:not(.hasValidationRow) td.bocListDataCell
{
  border-bottom: var(--boclist-tabledata-border);
}

div.bocList table.bocListTable td.bocListDataCellIndex *.bocListCellStructureElement > div.bocListContent
{
  justify-content: end;
}
/*endregion*/

/*region BocList row menu*/
div.bocList table.bocListTable td.bocListDataCell *.bocListCellStructureElement > div > .DropDownMenuContainer
{
  margin-top: calc(-1 * (var(--remotion-themed-spacing) / 2 - var(--remotion-themed-border-width)));
}

div.bocList table.bocListTable td.bocListDataCell *.bocListCellStructureElement > div > .DropDownMenuContainer .DropDownMenuSelect
{
  height: calc(var(--remotion-themed-line-height) + var(--remotion-themed-spacing-small));
}
/*endregion*/

/*region bocListTableBlock*/
div.bocList div.bocListTableBlock
{
  grid-column: 1 / span 2;
  grid-row: var(--boclist-grid-row-placement);
  display: grid;
  grid-template-rows: auto min-content;
  height: 100%;
}

div.bocList div.bocListTableBlock.hasMenuBlock
{
  grid-column: 1;
  border-right: var(--boclist-tabledata-border);
}
/*endregion*/

/*region bocListNavigator*/
div.bocList div.bocListTableBlock div.bocListNavigator
{
  overflow: clip;
  padding: var(--remotion-themed-spacing-small);
  display: flex;
  align-items: center;
  grid-row: 2;
}

div.bocList div.bocListTableBlock div.bocListNavigator > span
{
  margin-right: var(--remotion-themed-spacing);
}

div.bocList div.bocListTableBlock div.bocListNavigator > span > input
{
  /* defined inline on the markup */
  --size: var(--size, 3);

  min-height: unset;
  height: var(--remotion-themed-line-height);
  padding: var(--remotion-themed-spacing-small);
  margin: var(--remotion-themed-spacing-small) var(--remotion-themed-spacing);
  text-align: right;
  width: calc(0.6em * var(--size));
}

div.bocList div.bocListTableBlock div.bocListNavigator img
{
  height: var(--remotion-themed-img-width);
  width: var(--remotion-themed-img-width);
}

div.bocList div.bocListTableBlock div.bocListNavigator a
{
  border: var(--remotion-themed-border-readonly);
  border-radius: var(--remotion-themed-border-radius);
  padding: var(--remotion-themed-spacing-small);
  margin: 0 var(--remotion-themed-spacing-small);
  background-color: var(--remotion-themed-background-color-control);
}

div.bocList div.bocListTableBlock div.bocListNavigator a[href]
{
  border: var(--remotion-themed-border);
}

div.bocList div.bocListTableBlock div.bocListNavigator a[href]:hover
{
  background-color: var(--remotion-themed-background-color-hover);
  border: var(--remotion-themed-border-hover);
  box-shadow: var(--remotion-themed-box-shadow-hover);
}

div.bocList div.bocListTableBlock div.bocListNavigator a[href]:focus
{
  outline: none;
  background-color: var(--remotion-themed-background-color-focus);
  border: var(--remotion-themed-border-focus);
  box-shadow: var(--remotion-themed-box-shadow-focus);
}

div.bocList div.bocListTableBlock div.bocListNavigator a[href]:focus:hover
{
  background-color: var(--remotion-themed-background-color-focus-hover);
  border: var(--remotion-themed-border-focus-hover);
  box-shadow: var(--remotion-themed-box-shadow-focus-hover);
}

div.bocList div.bocListTableBlock div.bocListNavigator a:not([href]) img
{
  filter: opacity(0.5);
}
/*endregion*/

/*region validation marker*/
div.bocList .bocListCellStructureElement > .validationErrorMarker,
div.bocList .bocListContent > .validationErrorMarker
{
  border: var(--remotion-themed-border-placeholder);
  border-radius: var(--remotion-themed-border-radius);
}

div.bocList .bocListCellStructureElement > .validationErrorMarker
{
  /* .bocListContent already comes with padding so we only need this for .bocListCellStructureElement */
  padding: calc(var(--remotion-themed-spacing) / 2);
}

div.bocList .bocListCellStructureElement > .validationErrorMarker:focus-within,
div.bocList .bocListContent > .validationErrorMarker:focus-within
{
  outline: none;
  background-color: var(--remotion-themed-background-color-focus);
  border: var(--remotion-themed-border-focus);
  box-shadow: var(--remotion-themed-box-shadow-focus);
}

/*endregion*/

/*region bocListValidationRow*/
div.bocList div.bocListTableBlock tr.bocListValidationRow
{
  border-bottom: var(--boclist-tabledata-border);
  color: var(--color-validationerror-text);
}

div.bocList table.bocListTable tr.bocListValidationRow.selected td
{
  background-color: var(--color-highlight);
}

div.bocList div.bocListTableBlock tr.bocListValidationRow td ul
{
  padding-left: 0;
  margin: var(--remotion-themed-spacing) 0;
  list-style: none;
}

div.bocList div.bocListTableBlock tr.bocListValidationRow td li:not(:last-child)
{
  margin-bottom: calc(var(--remotion-themed-spacing-small));
}

div.bocList div.bocListTableBlock tr.bocListValidationRow div
{
  width: var(--boclist-validationrow-minimum-width);
  position: sticky;
  left: 0;
  overflow-x: auto;
  scrollbar-width: var(--remotion-themed-scrollbar-style);
  scrollbar-color: var(--remotion-themed-scrollbar-color);
}

div.bocList div.bocListTableBlock tr.bocListValidationRow div div
{
  inline-size: fit-content;
  min-inline-size: calc(var(--boclist-validationrow-minimum-width) * 1.25);
}

div.bocList div.bocListTableBlock tr.bocListValidationRow a
{
  color: var(--color-validationerror-text);
  text-decoration: none;
}

div.bocList div.bocListTableBlock tr.bocListValidationRow a:hover
{
  text-decoration: underline;
}

/*endregion*/

/*region bocListMenuBlock*/
div.bocList div.bocListMenuBlock
{
  grid-column: 2;
  grid-row: var(--boclist-grid-row-placement);
  background-color: var(--boclist-listmenu-background-color);
}

div.bocList div.bocListMenuBlock > div
{
  margin: var(--remotion-themed-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--remotion-themed-spacing);
}

div.bocList div.bocListMenuBlock div.bocListAvailableViewsList
{
  display: flex;
  align-items: center;
}

div.bocList div.bocListMenuBlock div.bocListAvailableViewsList select.bocListAvailableViewsListDropDownList
{
  flex-grow: 1;
}

div.bocList div.bocListMenuBlock .DropDownMenuContainer
{
  width: 100%;
}
/*endregion*/

/*region Fake table head*/
div.bocList div.bocListTableBlock div.bocListTableContainer div.bocListFakeTableHead
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
}

div.bocList div.bocListTableBlock div.bocListTableContainer div.bocListFakeTableHead > div
{
  /* Reserve space in case there is a scrollbar for the data-part of the table.
     Note that the actual max-width is not important so long as the scrollbar's max-width is covered. '*/
  border-right: var(--remotion-themed-scrollbar-width) solid var(--boclist-tablehead-background-color);
}

div.bocList div.bocListTableBlock div.bocListTableContainer div.bocListFakeTableHead table,
div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable
{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: none;
}

div.bocList div.bocListTableBlock div.bocListTableContainer thead.bocListTableHead[aria-hidden] > tr > th > *,
div.bocList div.bocListTableBlock div.bocListTableContainer thead.bocListTableHead[aria-hidden] > tr > td > *
{
  visibility: hidden;
}
/*endregion*/

/*region Sorting order*/
div.bocList div.bocListTableBlock div.bocListTableContainer span.bocListSortingOrder
{
  color: var(--color-standard-text);
  display: inline-flex;
  align-items: center;
  height: var(--remotion-themed-line-height);
}

div.bocList div.bocListTableBlock div.bocListTableContainer span.bocListSortingOrder img
{
  height: var(--remotion-themed-img-width);
  width: var(--remotion-themed-img-width);
  margin-right: calc(-1 * var(--single-whitespace-width));
  margin-bottom: var(--remotion-themed-spacing);
}
/*endregion*/

/*region Editable cell*/
div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell .control
{
  width: 100%;
  display: block;
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell .control > *
{
  width: 100%;
  --width: 100%;
}
/*endregion*/

/*region Validation markers*/
div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable .validationRequiredMarker
{
  height: var(--remotion-themed-img-width);
  width: var(--remotion-themed-img-width);
  margin-right: calc(-1 * (var(--single-whitespace-width) + var(--remotion-themed-spacing)));
}

div.bocList .validationErrorMarker > img
{
  height: var(--remotion-themed-img-width);
  width: var(--remotion-themed-img-width);
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell .bocListEditModeValidationMessage
{
  color: var(--color-validationerror-text);
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell .validationErrorMarker
{
  position: relative;
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell .validationErrorMarker[aria-label]:not([title])::after,
div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell .validationErrorMarker[aria-label]:not([title])::after
{

  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-timing-function: linear;
  content: attr(aria-label);
  white-space: pre;
  display: inline-block;
  position: absolute;
  /* popup spawns at the bottom right corner of the icon's hover highlighting */
  top: calc(var(--remotion-themed-img-width) + var(--remotion-themed-spacing-small));
  left: calc(var(--remotion-themed-img-width) / 2);
  padding: var(--remotion-themed-spacing-small) var(--remotion-themed-spacing);
  border: var(--remotion-themed-tooltip-border);
  color: var(--color-tooltip-text);
  background-color: var(--color-tooltip-background);
  font: var(--tooltip-font);
  z-index: var(--z-index-max);
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell .validationErrorMarker[aria-label]:not([title]):focus::after,
div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell .validationErrorMarker[aria-label]:not([title]):hover::after
{
  visibility: visible;
  transition-delay: var(--transition-delay-tooltip);
}
/*endregion*/

/*region Validation layout*/
.bocListDataColumnDeclarationValidationFailureIndicator
{
  /* Exact space that an icon + padding + border from container elements take up to prevent layout changes when a validation icon is displayed */
  width: calc(var(--remotion-themed-img-width) + 3 * var(--remotion-themed-spacing) + 2 * var(--remotion-themed-border-width));
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell
{
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  box-sizing: border-box;
  width: 100%;
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell > .control
{
  grid-row: 1;
  grid-column: 1 / span 2;
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell > .validationMessages
{
  grid-row: 2;
  grid-column: 1 / span 2;
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell > .validationErrorMarker
{
  grid-row: 1;
  grid-column: 1;
  margin-left: 0;
  margin-right: var(--remotion-themed-spacing);
  margin-top: auto;
  margin-bottom: auto;
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell > .validationErrorMarker + .control
{
  grid-column: 2;
}

div.bocList div.bocListTableBlock div.bocListTableContainer table.bocListTable div.bocListEditableCell > .validationErrorMarker ~ .validationMessages
{
  grid-column: 2;
  padding-top: var(--remotion-themed-spacing-small);
}
/*endregion*/