/* Style applied to the DatePicker. */

a.DatePickerButton 
{
  padding: 0;
  border-style: none;
  background-color: Transparent;
}

a.DatePickerButton img
{
  border-style: none;
}

a.DatePickerButton.disabled img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

div.DatePicker
{
  z-index: 2147483647;
  position: absolute;
}
