/* Style applied to the FormGrid. */

/*  Style applied to the form grid table's outer structure  */
table.formGridTable
{
  border-collapse: separate;
  border-width: 1px;
  width: 100%;
}

/*  Style applied to the title cell  */
/*  Style applied to the sub title cell  */
td.formGridTitleCell,
td.formGridSubTitleCell
{
  font-weight: bold;
  font-size: 125%;

  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: Black;
}

/*  Style applied to the cells containing the labels  */
td.formGridLabelsCell
{
  background-color: #e1ecfc;
  text-align: right;

  padding: 2px 5px 2px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
  width: 17%;
}

/*  Style applied to the cells containing the markers  */
td.formGridMarkersCell
{
  white-space: nowrap;

  padding: 0px 5px 0px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
  width: 1%;
}

td.formGridMarkersCell img
{
  min-width: 12px;
  border: none;
}

/*  Style applied to the cells containing the controls  */
td.formGridControlsCell
{
  padding: 0px 5px 0px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
  width: auto;
}

/*  Style applied to the cells containing the validation messages, 
*   if a seperate column is specified  */
td.formGridValidationMessagesCell
{
  padding: 2px 7px 2px 7px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

/*  Style applied to the cells in the first row after the title row  */
td.formGridTopDataRow
{
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

/*  Style applied to the validation messages, additiv to formGridValidationMessagesCell  */
.formGridValidationMessage
{
  color: Red;
}

/*  Style applied to the validators created by FormGridManager  */
.formGridValidator
{
  color: Red;
}

/*  Style applied to the validation notice that can be displayed by the ValidationStateViewer  */
.formGridValidationNotice
{
  color: Red;
}
