/* Style applied to the SingleView. */

div.singleView
{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: White;
}

div.singleView > div.wrapper
{
  position: absolute;
  background-color: white;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  width: auto;
  height: auto;
}

div.singleView > div.wrapper > *.top,
div.singleView > div.wrapper > *.left,
div.singleView > div.wrapper > *.bottom,
div.singleView > div.wrapper > *.bottom,
div.singleView > div.wrapper > *.topLeft,
div.singleView > div.wrapper > *.bottomLeft,
div.singleView > div.wrapper > *.topRight,
div.singleView > div.wrapper > *.bottomRight
{
  display: none;
}

div.singleViewView
{
  height: 80%;
}

body.mozilla  div.singleViewView,
body.webkit   div.singleViewView,
body.opera    div.singleViewView
{
  width: inherit;
}

div.singleViewView > div.contentBorder
{
  position: relative;
  border: solid 1px #02537c;
  background-color: white;
  padding: 0.25em;
  overflow: auto;
  height: 60%;
}

div.singleViewView > div.contentBorder > div.content
{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

body.msie7 div.singleViewView > div.contentBorder > div.content
{
  width: 98%;
  height: 98%;
}

div.singleViewView > *.top,
div.singleViewView > *.left,
div.singleViewView > *.bottom,
div.singleViewView > *.bottom,
div.singleViewView > *.topLeft,
div.singleViewView > *.bottomLeft,
div.singleViewView > *.topRight,
div.singleViewView > *.bottomRight
{
  display: none;
}

/* Applied to the top section of the multi view. Height cannot be provided in percent. */
div.singleViewTopControls
{
  overflow: hidden;
  background-color: White;
  margin-bottom: 1em;
}

div.singleViewTopControls.empty
{
  height: 1em;
  background-color: White;
}

/* Applied to the bottom section of the multi view. Height cannot be provided in percent. */
div.singleViewBottomControls
{
  position: absolute;
  overflow: hidden;
  background-color: White;
  margin-top: 1em;
  left: 0em;
  right: 0em;
  bottom: 0em;
}

body.opera div.singleViewBottomControls
{
  border: solid 0 transparent;
}

div.singleViewBottomControls.empty
{
  height: 1em;
  background-color: White;
}
