html
{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html body
{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

form
{
  height: 100%;
  width: 100%;
}

body.msie7 div.content 
{
  width: auto !important;
}

div#ErrorContainer
{
  color: Red;
  font-size: 1.1em;
  font-weight: bold;
  height: 1.1em;
  margin-top: 0.5em;
  margin-bottom: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div.singleViewTopControls div.content div#CurrentTenantControl
{
  padding: 0.5em;
}

div.singleViewTopControls div.content div#CurrentTenantControl > div
{
  float: right;
  clear: both;
}

div.singleViewTopControls div.content h1.pageTitle
{
  margin: 0.25em;
}

h2.accessControlListTitle
{
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

div.singleViewBottomControls button
{
  margin-right: 0.5em;
  margin-top: 0.5em;
}

button.imageButton
{
  border: none;
  background-color: Transparent;
}

div.accessControlListContainer
{
  width: 100%;
  border-top: solid 2px black;
}

table.accessControlList
{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td.stateCombinationsButtons button
{
  width: 100%;
  margin-bottom: 0.5em;
}

td.stateCombinationsButtons, 
td.stateCombinationsContainer
{
  border-right: solid 1px #d4d0c8;
  width: 13em;
}

td.stateCombinationsButtons
{
  vertical-align: top;
}

body.msie7 td.stateCombinationsButtons button.webButton
{
  max-width: 96%;
}

td.accessControlEntriesButtons, 
td.accessControlEntriesContainer
{
  border-left: solid 1px #d4d0c8;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

td.stateCombinationsButtons, 
td.accessControlEntriesButtons
{
  padding-bottom: 0.5em;
}

td.accessControlEntriesButtons
{
  text-align: right;
  vertical-align: top;
}

body.msie td.accessControlEntriesButtons
{
  padding-right: 0.66em;
}

table.accessControlEntriesTable
{
  border-collapse: collapse;
  border-style: none;
  width: 100%;
}

/* body.mozilla is needed for IE11 native mode, but does not hurt in Mozilla Firefox */
body.msie7 table.accessControlEntriesTable,
body.msie8 table.accessControlEntriesTable,
body.msie table.accessControlEntriesTable,
body.mozilla table.accessControlEntriesTable
{
  width: auto;
}

/* body.mozilla is needed for IE11 native mode, but does not hurt in Mozilla Firefox */
body.msie table.accessControlEntriesTable,
body.mozilla table.accessControlEntriesTable
{
  margin-right: 0.66em;
}

table.accessControlEntriesTable th.titleCellHorizontal, 
table.accessControlEntriesTable th.titleCellVertical
{
  border-bottom: solid 1px black;
}

table.accessControlEntriesTable th.titleCellHorizontal
{
  text-align: left;
  vertical-align: bottom;
}

table.accessControlEntriesTable th.titleCellVertical
{
  text-align: left;
  vertical-align: bottom;
  width: 1.5em;
}

table.accessControlEntriesTable th.titleCellVertical div
{
  background-color: white;
  zoom: 1;
  display: inline-block;
  -ms-transform: rotate(270deg);
  -ms-transform-origin: 50% 25%;
  -moz-transform:rotate(270deg);
  -moz-transform-origin: 50% 25%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 25%;
  -o-transform: rotate(270deg);
  max-width: 1.4em !important;
  white-space: nowrap;
}

body.msie7 table.accessControlEntriesTable th.titleCellVertical div,
body.msie8 table.accessControlEntriesTable th.titleCellVertical div
{
  padding-top: 0.25em;
  writing-mode: tb-rl;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

table.accessControlEntriesTable th.titleCellVertical 
{
  max-width:1.4em !important;
}

table.accessControlEntriesTable tr.header
{
}

table.accessControlEntriesTable tr.odd
{
  background-color: White;
}

table.accessControlEntriesTable tr.even
{
  background-color: #F4F4F4;
}

table.accessControlEntriesTable td.conditionCell
{
  width: 20%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 1em;
}

table.accessControlEntriesTable td.permissionCell
{
  padding: 0.25em;
  border-left: solid 1px #d4d0c8;
  border-right: solid 1px #d4d0c8;
  text-align: center;
}

table.accessControlEntriesTable td.buttonCell
{
  padding: 0.25em;
  width: 1em;
}

table.accessControlEntryExpanded
{
  background-color: White;
}

table.accessControlEntryExpanded td.formGridTopDataRow
{
  border-top: 0;
}

table.accessControlEntryExpanded td.formGridTitleCell
{
  display: none;
}

tr.underlinedMarkerCellRow td.formGridMarkersCell
{
  border-top: 0;
  border-bottom: 0;
}

div.listControlContent
{
  height: 100%;
  position: relative;
}

div.listControlContent .listControlList
{
  position: absolute;
  top: 0;
  bottom: 2em;
  overflow: auto;
}

div.listControlContent .listControlButtons
{
  position: absolute;
  height: 1.8em;
  bottom: 0;
}

td.buttonCell span.DropDownMenuSelect
{
  width: 16px;
}

td.buttonCell span.DropDownMenuSelect span.DropDownMenuButton
{
  left: 0;
}