<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Default configuration for .NET Core applications -->
    <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration.ConfigurationManager" restartOnExternalChanges="false" requirePermission="false" />
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration.ConfigurationManager" requirePermission="false" />
    <section name="mscorlib" type="System.Configuration.IgnoreSection, System.Configuration.ConfigurationManager" allowLocation="false" />
    <section name="runtime" type="System.Configuration.IgnoreSection, System.Configuration.ConfigurationManager" allowLocation="false" />
    <section name="assemblyBinding" type="System.Configuration.IgnoreSection, System.Configuration.ConfigurationManager" allowLocation="false" />
    <section name="satelliteassemblies" type="System.Configuration.IgnoreSection, System.Configuration.ConfigurationManager" allowLocation="false" />
    <section name="startup" type="System.Configuration.IgnoreSection, System.Configuration.ConfigurationManager" allowLocation="false" />

    <section name="system.codedom" type="System.CodeDom.Compiler.CodeDomConfigurationHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="system.web" type="System.Web.Configuration.SystemWebSectionGroup, CoreForms.Web">
      <section name="anonymousIdentification" type="System.Web.Configuration.AnonymousIdentificationSection, CoreForms.Web"
               allowDefinition="MachineToApplication" />
      <section name="authentication" type="System.Web.Configuration.AuthenticationSection, CoreForms.Web" allowDefinition="MachineToApplication" />
      <section name="authorization" type="System.Web.Configuration.AuthorizationSection, CoreForms.Web" />
      <section name="browserCaps" type="System.Web.Configuration.HttpCapabilitiesSectionHandler, CoreForms.Web" />
      <section name="clientTarget" type="System.Web.Configuration.ClientTargetSection, CoreForms.Web" />
      <section name="compilation" type="System.Web.Configuration.CompilationSection, CoreForms.Web" requirePermission="false" />
      <section name="customErrors" type="System.Web.Configuration.CustomErrorsSection, CoreForms.Web" />
      <section name="deployment" type="System.Web.Configuration.DeploymentSection, CoreForms.Web" allowDefinition="MachineOnly" />
      <section name="fullTrustAssemblies" type="System.Web.Configuration.FullTrustAssembliesSection, CoreForms.Web"
               allowDefinition="MachineToApplication" />
      <section name="globalization" type="System.Web.Configuration.GlobalizationSection, CoreForms.Web" />
      <section name="healthMonitoring" type="System.Web.Configuration.HealthMonitoringSection, CoreForms.Web"
               allowDefinition="MachineToApplication" />
      <section name="hostingEnvironment" type="System.Web.Configuration.HostingEnvironmentSection, CoreForms.Web"
               allowDefinition="MachineToApplication" />
      <section name="httpCookies" type="System.Web.Configuration.HttpCookiesSection, CoreForms.Web" />
      <section name="httpHandlers" type="System.Web.Configuration.HttpHandlersSection, CoreForms.Web" />
      <section name="httpModules" type="System.Web.Configuration.HttpModulesSection, CoreForms.Web" />
      <section name="httpRuntime" type="System.Web.Configuration.HttpRuntimeSection, CoreForms.Web" />
      <section name="identity" type="System.Web.Configuration.IdentitySection, CoreForms.Web" />
      <section name="machineKey" type="System.Web.Configuration.MachineKeySection, CoreForms.Web" allowDefinition="MachineToApplication" />
      <section name="membership" type="System.Web.Configuration.MembershipSection, CoreForms.Web" allowDefinition="MachineToApplication" />
      <section name="pages" type="System.Web.Configuration.PagesSection, CoreForms.Web" requirePermission="false" />
      <section name="partialTrustVisibleAssemblies" type="System.Web.Configuration.PartialTrustVisibleAssembliesSection, CoreForms.Web"
               allowDefinition="MachineToApplication" />
      <section name="processModel" type="System.Web.Configuration.ProcessModelSection, CoreForms.Web" allowDefinition="MachineOnly"
               allowLocation="false" />
      <section name="profile" type="System.Web.Configuration.ProfileSection, CoreForms.Web" allowDefinition="MachineToApplication" />
      <section name="protocols" type="System.Web.Configuration.ProtocolsSection, CoreForms.Web" allowDefinition="MachineToWebRoot" />
      <section name="roleManager" type="System.Web.Configuration.RoleManagerSection, CoreForms.Web" allowDefinition="MachineToApplication" />
      <section name="securityPolicy" type="System.Web.Configuration.SecurityPolicySection, CoreForms.Web" allowDefinition="MachineToApplication" />
      <section name="sessionPageState" type="System.Web.Configuration.SessionPageStateSection, CoreForms.Web" />
      <section name="sessionState" type="System.Web.Configuration.SessionStateSection, CoreForms.Web" allowDefinition="MachineToApplication" />
      <section name="siteMap" type="System.Web.Configuration.SiteMapSection, CoreForms.Web" allowDefinition="MachineToApplication" />
      <section name="trace" type="System.Web.Configuration.TraceSection, CoreForms.Web" />
      <section name="trust" type="System.Web.Configuration.TrustSection, CoreForms.Web" allowDefinition="MachineToApplication" />
      <section name="urlMappings" type="System.Web.Configuration.UrlMappingsSection, CoreForms.Web" allowDefinition="MachineToApplication" />
      <section name="webControls" type="System.Web.Configuration.WebControlsSection, CoreForms.Web" />
      <section name="webParts" type="System.Web.Configuration.WebPartsSection, CoreForms.Web" />
      <section name="webServices" type="System.Web.Services.Configuration.WebServicesSection, CoreForms.Web.Services"/>
      <section name="xhtmlConformance" type="System.Web.Configuration.XhtmlConformanceSection, CoreForms.Web" />
      <sectionGroup name="caching" type="System.Web.Configuration.SystemWebCachingSectionGroup, CoreForms.Web">
        <section name="cache" type="System.Web.Configuration.CacheSection, CoreForms.Web" allowDefinition="MachineToApplication" />
        <section name="outputCache" type="System.Web.Configuration.OutputCacheSection, CoreForms.Web" allowDefinition="MachineToApplication" />
        <section name="outputCacheSettings" type="System.Web.Configuration.OutputCacheSettingsSection, CoreForms.Web"
                 allowDefinition="MachineToApplication" />
        <section name="sqlCacheDependency" type="System.Web.Configuration.SqlCacheDependencySection, CoreForms.Web"
                 allowDefinition="MachineToApplication" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web>
    <authentication>
      <forms cookieless="UseCookies"></forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <browserCaps userAgentCacheKeyLength="64">
      <result type="System.Web.HttpBrowserCapabilities, CoreForms.Web"/>
    </browserCaps>
    <clientTarget>
      <add alias="uplevel" userAgent="Mozilla/5.0 (compatible; MSIE 6.0; Windows NT 5.1)"/>
      <add alias="downlevel" userAgent="Generic Downlevel"/>
    </clientTarget>
    <compilation debug="true" targetFramework="5.0">
      <assemblies>
        <add assembly="mscorlib" />
        <add assembly="netstandard" />
        <add assembly="System.CodeDom" />
        <add assembly="System.Collections" />
        <add assembly="System.Collections.Concurrent" />
        <add assembly="System.Collections.NonGeneric" />
        <add assembly="System.Collections.Specialized" />
        <add assembly="System.ComponentModel" />
        <add assembly="System.Configuration.ConfigurationManager" />
        <add assembly="System.Data" />
        <add assembly="System.Data.Common" />
        <add assembly="System.Diagnostics.FileVersionInfo" />
        <add assembly="System.Diagnostics.StackTrace" />
        <add assembly="System.Diagnostics.TextWriterTraceListener" />
        <add assembly="System.Diagnostics.TraceSource" />
        <add assembly="System.Diagnostics.Tools"/>
        <add assembly="System.IO.Compression" />
        <add assembly="System.IO.FileSystem.Watcher" />
        <add assembly="System.Net.HttpListener" />
        <add assembly="System.Net.Mail" />
        <add assembly="System.Net.NameResolution" />
        <add assembly="System.Net.NetworkInformation" />
        <add assembly="System.Net.Ping" />
        <add assembly="System.Net.Primitives" />
        <add assembly="System.Net.Requests" />
        <add assembly="System.Net.Security" />
        <add assembly="System.Net.ServicePoint" />
        <add assembly="System.Net.Sockets" />
        <add assembly="System.Net.WebClient" />
        <add assembly="System.Net.WebHeaderCollection" />
        <add assembly="System.Net.WebProxy" />
        <add assembly="System.Net.WebSockets" />
        <add assembly="System.Net.WebSockets.Client" />
        <add assembly="System.Private.CoreLib" />
        <add assembly="System.Private.Uri" />
        <add assembly="System.Private.Xml" />
        <add assembly="System.Private.Xml.Linq" />
        <add assembly="System.Runtime" />
        <add assembly="System.Runtime.Extensions" />
        <add assembly="System.Runtime.InteropServices" />
        <add assembly="System.Runtime.Serialization.Json" />
        <add assembly="System.Runtime.Serialization.Primitives" />
        <add assembly="System.Runtime.Serialization.Xml" />
        <add assembly="System.Security.Cryptography.Encoding" />
        <add assembly="System.Text.RegularExpressions" />
        <add assembly="System.Threading" />
        <add assembly="System.Threading.Thread" />
        <add assembly="System.Xml.ReaderWriter"/>
        <add assembly="System.Xml.XmlSerializer"/>
        <add assembly="System.Xml.XDocument" />
        <add assembly="System.Xml.XPath.XDocument" />
        <add assembly="System.Web.HttpUtility"/>

        <add assembly="CoreForms.Web"/>
        <add assembly="CoreForms.Web.Services"/>
        <add assembly="CoreForms.Web.ApplicationServices"/>

        <add assembly="*"/>
      </assemblies>
      <buildProviders>
        <add extension=".aspx" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".ascx" type="System.Web.Compilation.UserControlBuildProvider"/>
        <add extension=".master" type="System.Web.Compilation.MasterPageBuildProvider"/>
        <add extension=".asmx" type="System.Web.Compilation.WebServiceBuildProvider"/>
        <add extension=".ashx" type="System.Web.Compilation.WebHandlerBuildProvider"/>
        <add extension=".soap" type="System.Web.Compilation.WebServiceBuildProvider"/>
        <add extension=".resx" type="System.Web.Compilation.ResXBuildProvider"/>
        <add extension=".resources" type="System.Web.Compilation.ResourcesBuildProvider"/>
        <add extension=".wsdl" type="System.Web.Compilation.WsdlBuildProvider"/>
        <add extension=".xsd" type="System.Web.Compilation.XsdBuildProvider"/>
        <add extension=".js" type="System.Web.Compilation.ForceCopyBuildProvider"/>
        <add extension=".lic" type="System.Web.Compilation.IgnoreFileBuildProvider"/>
        <add extension=".licx" type="System.Web.Compilation.IgnoreFileBuildProvider"/>
        <add extension=".exclude" type="System.Web.Compilation.IgnoreFileBuildProvider"/>
        <add extension=".refresh" type="System.Web.Compilation.IgnoreFileBuildProvider"/>
      </buildProviders>
      <folderLevelBuildProviders />
      <expressionBuilders>
        <add expressionPrefix="Resources" type="System.Web.Compilation.ResourceExpressionBuilder"/>
        <add expressionPrefix="ConnectionStrings" type="System.Web.Compilation.ConnectionStringsExpressionBuilder"/>
        <add expressionPrefix="AppSettings" type="System.Web.Compilation.AppSettingsExpressionBuilder"/>
        <add expressionPrefix="RouteUrl" type="System.Web.Compilation.RouteUrlExpressionBuilder"/>
        <add expressionPrefix="RouteValue" type="System.Web.Compilation.RouteValueExpressionBuilder"/>
      </expressionBuilders>
    </compilation>
    <httpCookies httpOnlyCookies="true"/>
    <httpHandlers>
      <add path="eurl.axd" verb="*" type="System.Web.HttpNotFoundHandler" validate="True"/>
      <add path="trace.axd" verb="*" type="System.Web.Handlers.TraceHandler" validate="True"/>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="True"/>
      <add verb="*" path="*_AppService.axd" type="System.Web.Script.Services.ScriptHandlerFactory, CoreForms.Web.Extensions" validate="False"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, CoreForms.Web.Extensions" validate="False"/>
      <add path="*.axd" verb="*" type="System.Web.HttpNotFoundHandler" validate="True"/>
      <add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="True"/>
      <add path="*.ashx" verb="*" type="System.Web.UI.SimpleHandlerFactory" validate="True"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, CoreForms.Web.Extensions" validate="False"/>
      <add path="*.asax" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.ascx" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.master" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.skin" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.browser" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.sitemap" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.dll.config" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="True"/>
      <add path="*.exe.config" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="True"/>
      <add path="*.config" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.cs" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.csproj" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.vb" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.vbproj" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.webinfo" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.licx" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.resx" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.resources" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.mdb" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.vjsproj" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.java" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.jsl" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.ldb" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.ad" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.dd" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.ldd" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.sd" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.cd" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.adprototype" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.lddprototype" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.sdm" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.sdmDocument" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.mdf" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.ldf" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.exclude" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.refresh" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.rules" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.aspq" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.cshtm" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.cshtml" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.vbhtm" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*.vbhtml" verb="*" type="System.Web.HttpForbiddenHandler" validate="True"/>
      <add path="*" verb="GET,HEAD,POST" type="System.Web.DefaultHttpHandler" validate="True"/>
      <add path="*" verb="*" type="System.Web.HttpMethodNotAllowedHandler" validate="True"/>
    </httpHandlers>
    <httpModules>
      <add name="OutputCache" type="System.Web.Caching.OutputCacheModule"/>
      <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule"/>
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule"/>
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule"/>
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"/>
      <add name="AnonymousIdentification" type="System.Web.Security.AnonymousIdentificationModule"/>
      <add name="Profile" type="System.Web.Profile.ProfileModule"/>
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule"/>
      <add name="ScriptModule-4.0" type="System.Web.Handlers.ScriptModule, CoreForms.Web.Extensions"/>
    </httpModules>
    <httpRuntime targetFramework="4.7.2" />
    <machineKey compatibilityMode="Framework45" />
    <pages>
      <namespaces>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.ComponentModel.DataAnnotations"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
        <add namespace="System.Xml.Linq"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls.WebParts" assembly="CoreForms.Web"/>
      </controls>
    </pages>
    <processModel autoConfig="true"/>
    <urlMappings enabled="true"/>
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/"/>
  </system.web>
</configuration>