/* Style applied to the DropDownMenu. */

span.DropDownMenuContainer 
{
  position: relative;
  display: block;
  color: blue;
  background-color: White;
  position: relative;
  font-family: sans-serif;
  width: 100%;
  min-width: 16px;
}

tr.bocListDataRow,
tr.bocListDataRowSelected
{
  position: relative;
}

tr.bocListDataRow span.DropDownMenuContainer,
tr.bocListDataRowSelected span.DropDownMenuContainer
{
  display: inline-block;
}

span.DropDownMenuSelect 
{
  display: block;
  position: relative;
  border: solid 1px #005588;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1.25em;
  height: 1.4em;
}

td.buttonCell span.DropDownMenuSelect 
{
  /* only when display just arrow */
  display: inline-block;
}

span.DropDownMenuSelect.disabled
{
  cursor: default;
  border-color: Gray;
}

span.DropDownMenuSelect span 
{
  left: 0;
  vertical-align: middle;
}

span.DropDownMenuSelect a.DropDownMenuLabel
{
  position: relative;
  top: 0.1em;
  left: 0.1em;
  vertical-align: middle;
  margin-right: 15px;
  border-style: none;
  background-color: Transparent;
}

body.mozilla span.DropDownMenuSelect a.DropDownMenuLabel
{
  top: 0.05em;
}

span.DropDownMenuContainer span.disabled a.DropDownMenuLabel
{
  color: Gray;
}

span.DropDownMenuSelect a.DropDownMenuButton
{
  display: block;
  position: absolute;
  left: auto;
  top: 0px;
  bottom: 0;
  right: 0px;
  width: 15px;
  background-color: #DFEEF5;
  margin-right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../Image/DropDownMenuArrow.gif');
}

span.DropDownMenuSelect a.DropDownMenuButton:first-child
{
  left: 0px;
  width: auto;
}

span.DropDownMenuSelect.disabled a.DropDownMenuButton
{
  cursor: default;
  background-color: #E8E8E8;
  background-image: url('../Image/DropDownMenuArrow_disabled.gif');
}

span.DropDownMenuSelect a.DropDownMenuButton img
{
  height: 100%;
  width: 15px;
}

span.DropDownMenuSelect img
{
  border: 0;
}

div.DropDownMenuOptions
{
  z-index: 2147483647;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
}

ul.DropDownMenuOptions
{
  font-size: 80%;
  border: solid 1px #005588;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FFFFFF url(../Image/DropDownMenuItemIconPane.gif) repeat-y top left;
}

ul.DropDownMenuOptions li.selected a
{
  background-color: #FFDE98;
  border: solid 1px #005588;
  padding: 0px 2px 2px 2px;
}

ul.DropDownMenuOptions li a 
{
  text-decoration: none;
  display: block;
  margin: 1px;
  padding: 1px 3px 3px 1px;
  white-space: nowrap;
  color: blue;
}

ul.DropDownMenuOptions li a:hover
{
  background-color: #FFDE98;
  border: solid 1px #005588;
  padding: 0px 2px 2px 0px;
}

ul.DropDownMenuOptions li a img
{
  border: 0;
  margin-right: 15px;
  vertical-align: middle;
}

ul.DropDownMenuOptions li a span
{
  display: inline-block;
  padding: 2px 0px;
}

ul.DropDownMenuOptions li.DropDownMenuItemDisabled a
{
  border-style: none;
  padding: 1px 3px 3px 3px;
  color: #808080
}

ul.DropDownMenuOptions li.DropDownMenuItemDisabled a:hover
{
  background-color: transparent;
  border-style: none;
  padding: 1px 3px 3px 3px;
  cursor: default;
}


/* style separator */
span.DropDownMenuSeparator 
{
  display: block;
  line-height: 0.1em;
  margin-left: 30px;
  border: 0;
  background-image: url('../Image/DropDownMenuSeparator.gif');
  background-repeat: repeat-x;
  background-position: center;
}
 
span.DropDownMenuItemIcon
{
  margin-right: 15px;
  width: 16px;
  padding: 0px;
}
