/* Basic styles used to define the font, text-size, etc. */

body
{
  overflow: auto;
}

body, input, select, textarea
{
  font-family: 'Arial', 'Helvetica', sans-serif;
}

/*  Changes the font-size to 80%. 
    Font-size is compatible with all browsers for pages displayed in standard mode. (The default for ASP.NET projects) */
/*  Theoretically intended settings. */
body
{
  /* Font-Size in body must be in percent. Otherwise IE has a cascading bug. */  
  font-size: 80%; 
}

/* No scaling without a reference value */
input,
textarea,
select,
button
{
  font-size: 100%;
}

/*  The headings do not automatically scale with the body's font-size. Now they do. 
    The font-size relation between headings and body is maintained with the used percentages. */
h1
{
  font-size: 200%;
}

h2
{
  font-size: 150%;
}

h3
{
  font-size: 125%;
}

h4
{
  font-size: 100%;
}

h5
{
  font-size: 80%;
}

h6
{
  font-size: 60%;
}

/*  All anchor elements on the page. */
a[href]
{
  text-decoration: none;
  color: Blue;
}

/*  All elements sporting the class "disabled". */
.disabled,
.disabled a[href],
.disabled input,
.disabled select,
.disabled textarea,
.disabled label
{
  color: Gray;
}

body.webkit .disabled input,
body.webkit .disabled textarea
{
  color: Black;
}

img.disabled,
.disabled img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

img.Icon
{
  vertical-align: top;
  border-style: none;
}
