/* Style applied to the TabbedMenu. */

@import url("TabStrip.css");

table
{
}

table.tabbedMenu
{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td.tabbedMainMenuCell
{
  padding: 0;
}

td.tabbedSubMenuCell
{
  background-color: #02537c;
  padding: 0.3em;
}

td.tabbedMenuStatusCell
{
  background-color: #02537c;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.8em;
  color: White;
  text-align: right;
  white-space: nowrap;
}

/* Main Menu Tabstrip */
div.tabbedMainMenu span.tabStripTabWrapper
{
  padding-top: 0.3em;
  padding-right: 0.1em;
}

div.tabbedMainMenu span.tabStripTabSeparator
{
  display: none; /* magin-left must be set to 0 in the Non-IE browsers section for tabStripTab and tabStripTabSelected. */
}

div.tabbedMainMenu span.tabStripTab a
{  
  border: none;
  background-color: #e1ecfc;
  color: Blue;
  font-size: 120%;
  font-weight: bold;
}

div.tabbedMainMenu span.tabStripTab a:hover
{
  background-color: #fee197;
  color: Blue;
  cursor: pointer;
  cursor: hand;
}

div.tabbedMainMenu span.tabStripTabSelected a
{
  border: none;
  background-color: #02537c;
  color: White;
  font-size: 120%;
  font-weight: bold;
}

div.tabbedMainMenu span.tabStripTabSelected a:hover
{
  color: #fee197;
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

div.tabbedMainMenu span.tabStripTab.disabled a,
div.tabbedMainMenu span.tabStripTab.disabled a:hover
{
  color: Gray;
  background-color: #e8e8e8;
  cursor: default;
}

div.tabbedMainMenu li span.bottom, 
div.tabbedMainMenu li span.topLeft, 
div.tabbedMainMenu li span.topRight
{
  position: absolute;
  font-size: 0.5%;
  display: block;
}

div.tabbedMainMenu a span.bottom
{  
  bottom: -1px;
  left: 0px;
  height: 1px;
  width: 100%;  
}

/* Top Left tab corner */
div.tabbedMainMenu li span.topLeft
{
  background-image: url(../Image/TabbedMainMenuTabTopLeftCorner.gif);
  background-repeat: no-repeat;
  background-position: left top;
  width: 5px;
  height: 5px;
  top: 0px;
  left: 0px;
}

/* Top Right tab corner */
div.tabbedMainMenu li span.topRight
{
  background-image: url(../Image/TabbedMainMenuTabTopRightCorner.gif);
  background-repeat: no-repeat;
  background-position: right top;
  width: 5px;
  height: 5px;
  top: 0px;
  right: 0px;
}

/* Content area of the tab */
div.tabbedMainMenu li span.anchorBody
{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

body.mozilla  div.tabbedMainMenu span.tabStripTab,
body.webkit   div.tabbedMainMenu span.tabStripTab,
body.opera    div.tabbedMainMenu span.tabStripTab,
body.mozilla  div.tabbedMainMenu span.tabStripTabSelected,
body.webkit   div.tabbedMainMenu span.tabStripTabSelected,
body.opera    div.tabbedMainMenu span.tabStripTabSelected
{
  margin-left: 0; /* No separator, no margin required. */
}

div.tabbedMainMenu div.clearingPane
{
  clear: both;
}


/* Sub Menu Tabstrip */
div.tabbedSubMenu div.tabStripTabsPane
{
}

div.tabbedSubMenu div.tabStripTabsPane.empty
{
  padding-top: 0.4em; /* padding from tabStripTabWrapper, tabStripTab and content */
}

div.tabbedSubMenu div.tabStripTabsPane span.tabStripTabWrapper
{
  padding-top: 0.1em;
}

div.tabbedSubMenu span.tabStripTabSeparator
{
  display: none;	/* magin-left must be set to 0 in the Non-IE browsers section for tabStripTab and tabStripTabSelected. */
}

div.tabbedSubMenu span.tabStripTab,
div.tabbedSubMenu span.tabStripTabSelected
{  
  border-right: solid 1px White;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

div.tabbedSubMenu span.tabStripTab a
{  
  border: none;
  background-color: #02537c;
  color: White;
}

div.tabbedSubMenu span.tabStripTab a:hover,
div.tabbedSubMenu span.tabStripTabSelected a:hover
{
  background-color: #fee197;	
  color: Blue;
  cursor: pointer;
  cursor: hand;
}

div.tabbedSubMenu span.tabStripTabSelected a
{
  border: none;
  background-color: #02537c;
  color: White;
  text-decoration: underline;
}

div.tabbedSubMenu span.tabStripTab.disabled a,
div.tabbedSubMenu span.tabStripTab.disabled a:hover
{
  color: White;
  background-color: Transparent;
  cursor: default;
}

div.tabbedSubMenu span.tabStripTab.disabled img
{
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=1),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
}

/* Content area of the tab */
div.tabbedSubMenu span.anchorBody
{
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

body.mozilla  div.tabbedSubMenu div.tabStripTabsPane.empty,
body.webkit   div.tabbedSubMenu div.tabStripTabsPane.empty,
body.opera    div.tabbedSubMenu div.tabStripTabsPane.empty
{
  padding-top: 1.8em;
}

body.mozilla  div.tabbedSubMenu span.tabStripTab,
body.webkit   div.tabbedSubMenu span.tabStripTab,
body.opera    div.tabbedSubMenu span.tabStripTab,
body.mozilla  div.tabbedSubMenu span.tabStripTabSelected,
body.webkit   div.tabbedSubMenu span.tabStripTabSelected,
body.opera    div.tabbedSubMenu span.tabStripTabSelected
{
  margin-left: 0; /* No separator, no margin required. */
}

div.tabbedSubMenu div.clearingPane
{
  clear: both;
}
