/* Style applied to the TabbedMultiView. */

@import url("TabStrip.css");

div.tabbedMultiView
{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: White;
}

div.tabbedMultiView > div.wrapper
{
  position: absolute;
  background-color: white;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  width: auto;
  height: auto;
}

div.tabbedMultiView > div.wrapper > *.top,
div.tabbedMultiView > div.wrapper > *.left,
div.tabbedMultiView > div.wrapper > *.bottom,
div.tabbedMultiView > div.wrapper > *.bottom,
div.tabbedMultiView > div.wrapper > *.topLeft,
div.tabbedMultiView > div.wrapper > *.bottomLeft,
div.tabbedMultiView > div.wrapper > *.topRight,
div.tabbedMultiView > div.wrapper > *.bottomRight
{
  display: none;
}

div.tabbedMultiViewActiveView
{
  height: 80%;
}

body.mozilla  div.tabbedMultiViewActiveView,
body.webkit   div.tabbedMultiViewActiveView,
body.opera    div.tabbedMultiViewActiveView
{
  width: inherit;
}

div.tabbedMultiViewActiveView > div.contentBorder
{
  position: relative;
  border: solid 1px #02537c;
  border-top: 0;
  background-color: white;
  padding: 0.25em;
  overflow: auto;
  height: 60%;
}

div.tabbedMultiViewActiveView > div.contentBorder > div.content
{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

body.msie7 div.tabbedMultiViewActiveView > div.contentBorder > div.content
{
  width: 98%;
  height: 98%;
}

div.tabbedMultiViewActiveView > *.top, 
div.tabbedMultiViewActiveView > *.left, 
div.tabbedMultiViewActiveView > *.bottom, 
div.tabbedMultiViewActiveView > *.right, 
div.tabbedMultiViewActiveView > *.topLeft,
div.tabbedMultiViewActiveView > *.bottomLeft, 
div.tabbedMultiViewActiveView > *.topRight, 
div.tabbedMultiViewActiveView > *.bottomRight
{
  display: none;
}

/* Applied to the top section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewTopControls
{
  overflow: hidden;
  background-color: White;
}

div.tabbedMultiViewTopControls.empty
{
  height: 1em;
  background-color: White;
}

/* Applied to the bottom section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewBottomControls
{
  position: absolute;
  overflow: hidden;
  background-color: White;
  margin-top: 1em;
  left: 0em;
  right: 0em;
  bottom: 0em;
}

body.opera div.tabbedMultiViewBottomControls
{
  border: solid 0 transparent;
}

div.tabbedMultiViewBottomControls.empty
{
  height: 1em;
  background-color: White;
}

/* Tab Strip */
div.tabbedMultiViewTabStrip
{
  position: relative;
  left: 0;
  right: 0;
  padding: 0;
  background-color: White;
  margin-top: 0.7em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

body.msie7 div.tabbedMultiViewTabStrip
{
  margin-top: 0;
}

div.tabbedMultiViewTabStrip div.tabStripTabsPane
{
  border-bottom: solid 1px #02537c;
}

div.tabbedMultiViewTabStrip div.tabStripTabsPane ul
{
  display: block;
  margin-bottom: -1px; /* Moves the UL into the surrounding DIV. */
}

div.tabbedMultiViewTabStrip span.tabStripTabWrapper
{
  padding-top: 0.3em;
  position: relative;
}

div.tabbedMultiViewTabStrip span.tabStripTabSeparator
{
  width: 1em; /* Value must also be set in the Non-IE browsers section as left-margin of the tab. */
  border-bottom: solid 1px #02537c;
}

div.tabbedMultiViewTabStrip span.tabStripTab
{
  border: solid 1px #02537c;
}

div.tabbedMultiViewTabStrip span.tabStripTab a
{
  border: none;
  background-color: #e1ecfc;
  background-repeat: repeat-x;
  background-position: top;
  color: blue;
}

body.msie7 div.tabbedMultiViewTabStrip span.tabStripTab a
{
  padding-bottom: 2px;
}

div.tabbedMultiViewTabStrip span.tabStripTab a:hover
{
  background-color: #e1ecfc;
  background-repeat: repeat-x;
  background-position: bottom;
  color: blue;
}

div.tabbedMultiViewTabStrip span.tabStripTabSelected
{
  border: solid 1px #02537c;
}

div.tabbedMultiViewTabStrip span.tabStripTabSelected a
{
  border: none;
  background-color: White;
  color: #0D4EBA;
}

body.msie7 div.tabbedMultiViewTabStrip span.tabStripTabSelected a
{
  padding-bottom: 2px;
}

/* Bottom tab border */
div.tabbedMultiViewTabStrip a span.bottom
{
  position: absolute;
  font-size: 0.5%;
  display: block;
  left: 0px;
  bottom: -1px;
  height: 1px;
  width: 100%;
}

/* Bottom tab border */
div.tabbedMultiViewTabStrip span.tabStripTab a span.bottom
{
  border-bottom: solid 1px #02537c;
}

/* Bottom tab border selected */
div.tabbedMultiViewTabStrip span.tabStripTabSelected a span.bottom
{
  border-bottom: solid 1px White;
}

/* Content area of the tab */
div.tabbedMultiViewTabStrip a span.anchorBody
{
  padding-top: 0.15em;
  padding-bottom: 0.25em; 
  padding-left: 0.5em;
  padding-right: 0.5em;
}

div.tabbedMultiViewTabStrip span.tabStripTabSeparator span
{
  margin-bottom: 1px; /* The width of the top-border of the tabs. */
  padding-top: 0.2em; /* The padding used for the content span. */
  padding-bottom: 0.2em; /* The padding used for the content span. */
}

div.tabbedMultiViewTabStrip span.tabStripTab span.anchorBody,
div.tabbedMultiViewTabStrip span.tabStripTabSelected span.anchorBody,
div.tabbedMultiViewTabStrip span.tabStripTabSeparator span
{
  height: 1.15em;
}

body.webkit div.tabbedMultiViewTabStrip span.tabStripTab span.anchorBody,
body.webkit div.tabbedMultiViewTabStrip span.tabStripTabSelected span.anchorBody,
body.webkit div.tabbedMultiViewTabStrip span.tabStripTabSeparator span
{
  height: 1.2em;
}

div.tabbedMultiViewTabStrip div.clearingPane
{
  clear: both;
}
