<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="remotion.web" type="Remotion.Web.Configuration.WebConfiguration, Remotion.Web" />
    <sectionGroup name="remotion.data.domainObjects" type="Remotion.Data.DomainObjects.Configuration.DomainObjectsConfiguration, Remotion.Data.DomainObjects">
      <section name="storage" type="Remotion.Data.DomainObjects.Persistence.Configuration.StorageConfiguration, Remotion.Data.DomainObjects" />
    </sectionGroup>
  </configSections>

  <remotion.web xmlns="http://www.re-motion.org/web/configuration">
    <executionEngine functionTimeout="20" refreshInterval="10" />
  </remotion.web>

  <remotion.data.domainObjects xmlns="http://www.re-motion.org/Data/DomainObjects/Configuration/2.1">
    <storage>
      <providerDefinitions>
        <add type="Remotion.Data.DomainObjects::Persistence.Rdbms.RdbmsProviderDefinition" name="SecurityManager" factoryType="Remotion.SecurityManager::Persistence.SecurityManagerSqlStorageObjectFactory" connectionString="RemotionSecurityManagerWebClientTest" />
      </providerDefinitions>
      <groups>
        <add provider="SecurityManager" type="Remotion.Data.DomainObjects::DBStorageGroupAttribute"/>
        <add provider="SecurityManager" type="Remotion.SecurityManager::Domain.SecurityManagerStorageGroupAttribute"/>
      </groups>
    </storage>
  </remotion.data.domainObjects>

  <connectionStrings>
    <add name="RemotionSecurityManagerWebClientTest" connectionString="Integrated Security=SSPI;Initial Catalog=RemotionSecurityManagerWebClientTest;Data Source=localhost" />
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <pages enableEventValidation="false" validateRequest="false">
      <controls>
        <add tagPrefix="remotion" namespace="Remotion.ObjectBinding.Web.UI.Controls" assembly="Remotion.ObjectBinding.Web" />
        <add tagPrefix="remotion" namespace="Remotion.Web.UI.Controls" assembly="Remotion.Web" />
      </controls>
    </pages>

    <sessionState mode="InProc">
    </sessionState>

    <!-- 
          Set compilation debug="true" to insert debugging 
          symbols into the compiled page. Because this 
          affects performance, set this value to true only 
          during development.
      -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.8">
      <expressionBuilders>
        <add expressionPrefix="res" type="Remotion.Web.Compilation.ResourceExpressionBuilder, Remotion.Web" />
      </expressionBuilders>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
      -->
    <authentication mode="Windows" />
    <!--
          The <customErrors> section enables configuration 
          of what to do if/when an unhandled error occurs 
          during the execution of a request. Specifically, 
          it enables developers to configure html error pages 
          to be displayed in place of a error stack trace.

      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
          <error statusCode="403" redirect="NoAccess.htm" />
          <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
      -->
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.8" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="de-AT" uiCulture="de-AT" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="WxeHandler" verb="*" path="*.wxe" preCondition="integratedMode" type="Remotion.Web.ExecutionEngine.WxeHandler, Remotion.Web" />
      <add name="DefaultWxeHandler" verb="*" path="WxeHandler.ashx" preCondition="integratedMode" type="Remotion.Web.ExecutionEngine.WxeHandler, Remotion.Web" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true" />
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>