<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="remotion.web" type="Remotion.Web.Configuration.WebConfiguration, Remotion.Web" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <remotion.web xmlns="http://www.re-motion.org/web/configuration">
    <executionEngine urlMappingFile="~/UrlMapping.xml" />
  </remotion.web>

  <system.web>
    <globalization culture="de-AT" uiCulture="en-US"/>
    <compilation debug="true" />
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="remotion" namespace="Remotion.Web.UI.Controls" assembly="Remotion.Web" />
        <add tagPrefix="remotion" namespace="Remotion.ObjectBinding.Web.UI.Controls" assembly="Remotion.ObjectBinding.Web" />
        <add tagPrefix="testsite" namespace="Remotion.ObjectBinding.Web.Development.WebTesting.TestSite.Shared.Controls"
            assembly="Remotion.ObjectBinding.Web.Development.WebTesting.TestSite.Shared" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.wxe" type="Remotion.Web.ExecutionEngine.WxeHandler, Remotion.Web" />
    </httpHandlers>
  </system.web>
 
</configuration>