<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <globalization culture="de-AT" uiCulture="en-US"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Drawing.Primitives"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/> 
    </httpModules>
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="CoreForms.Web.Extensions"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="CoreForms.Web.Extensions"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls.Expressions" assembly="CoreForms.Web.Extensions"/>
        <add tagPrefix="remotion" namespace="Remotion.Web.UI.Controls" assembly="Remotion.Web" />
        <add tagPrefix="remotion" namespace="Remotion.ObjectBinding.Web.UI.Controls" assembly="Remotion.ObjectBinding.Web" />
        <add tagPrefix="testsite" namespace="Remotion.ObjectBinding.Web.Development.WebTesting.TestSite.Shared.Controls"
            assembly="Remotion.ObjectBinding.Web.Development.WebTesting.TestSite.Shared" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.wxe" type="Remotion.Web.ExecutionEngine.WxeHandler, Remotion.Web" />
    </httpHandlers>
  </system.web>
 
</configuration>