<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="remotion.webTesting"
        type="Remotion.Web.Development.WebTesting.Configuration.WebTestConfigurationSection,Remotion.Web.Development.WebTesting" />
  </configSections>
  <appSettings>
    <add key="SendKeys" value="SendInput" />
    <add key="ChromeVersionArchive" value="" />
    <add key="EdgeVersionArchive" value="" />
    <add key="FirefoxVersionArchive" value="" />
    <!-- Only used by re-motion build script to define log sub directory -->
    <add key="BuildLogOutputSubDirectoryName" value="Web.Development.WebTesting.IntegrationTests" />
  </appSettings>
  <remotion.webTesting
      xmlns="http://www.re-motion.org/WebTesting/Configuration/2.0"
      browser="Chrome"
      searchTimeout="00:00:30"
      downloadStartedTimeout="00:00:10"
      downloadUpdatedTimeout="00:00:10"
      verifyWebApplicationStartedTimeout="00:00:10"
      retryInterval="00:00:00.025"
      asyncJavaScriptTimeout="00:00:10"
      headless="true"
      webApplicationRoot="http://localhost:60401/"
      screenshotDirectory=".\WebTestingOutput"
      logsDirectory=".\WebTestingOutput"
      closeBrowserWindowsOnSetUpAndTearDown="false"
      cleanUpUnmatchedDownloadedFiles="false"
      requestErrorDetectionStrategy="Remotion.Web.Development.WebTesting.IntegrationTests.DiagnosticInformationCollectingRequestErrorDetectionStrategy, Remotion.Web.Development.WebTesting.IntegrationTests">
    <hosting name="IisExpress" type="IisExpress" port="60401" />
    <testSiteLayout rootPath=".\..\..\..\..\Development.WebTesting.TestSite.NetFramework">
      <resources>
        <add path="..\..\Web\Core\res" />
        <add path="..\..\Web\ClientScript\bin" />
        <add path="..\..\Web\Development.WebTesting.TestSite.Shared" />
      </resources>
    </testSiteLayout>
    <chrome disableSecurityWarningsBehavior="Automatic" />
    <edge disableSecurityWarningsBehavior="Ignore" />
  </remotion.webTesting>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value=".\WebTestingOutput\Web.Development.WebTesting.IntegrationTests.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.1" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>