<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="remotion.data.domainObjects" type="Remotion.Data.DomainObjects.Configuration.DomainObjectsConfiguration, Remotion.Data.DomainObjects">
      <section name="storage" type="Remotion.Data.DomainObjects.Persistence.Configuration.StorageConfiguration, Remotion.Data.DomainObjects" />
    </sectionGroup>
  </configSections>

  <remotion.data.domainObjects xmlns="http://www.re-motion.org/Data/DomainObjects/Configuration/2.1">
    <storage defaultProviderDefinition="SecurityManager">
      <providerDefinitions>
        <add type="Remotion.Data.DomainObjects::Persistence.Rdbms.RdbmsProviderDefinition"
            name="SecurityManager"
            factoryType="Remotion.SecurityManager::Persistence.SecurityManagerSqlStorageObjectFactory"
            connectionString="SecurityManager"/>
      </providerDefinitions>
    </storage>
  </remotion.data.domainObjects>

  <connectionStrings>
    <add name="SecurityManager" connectionString="Integrated Security=SSPI;Initial Catalog=RemotionSecurityManager;Data Source=localhost"/>
  </connectionStrings>
</configuration>