<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="remotion.web" type="Remotion.Web.Configuration.WebConfiguration, Remotion.Web" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <remotion.web xmlns="http://www.re-motion.org/web/configuration">
    <executionEngine urlMappingFile="~/UrlMapping.xml" />
  </remotion.web>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="remotion" namespace="Remotion.Web.UI.Controls" assembly="Remotion.Web" />
        <add tagPrefix="remotion" namespace="Remotion.ObjectBinding.Web.UI.Controls" assembly="Remotion.ObjectBinding.Web" />
        <add tagPrefix="testsite" namespace="Remotion.ObjectBinding.Web.Development.WebTesting.TestSite.Controls"
            assembly="Remotion.ObjectBinding.Web.Development.WebTesting.TestSite" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="true" />
    <handlers>
      <add name="WxeHandler" verb="*" path="*.wxe" preCondition="integratedMode" type="Remotion.Web.ExecutionEngine.WxeHandler, Remotion.Web" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>