/* Style applied to the BocReferenceValue's value. */
td.bocReferenceValueContent
{
  padding-top: 2px;
  padding-left: 0px;
  padding-bottom: 2px;
  padding-right: 0px;
  cursor: default;
}

td.bocReferenceValueContent a
{
  color: Blue;
	padding: 2px;
}

td.bocReferenceValueContent a:hover
{
  color: Blue;
	background-color: #fee197;	
	padding: 1px;
	border-width: 1px;
	border-color: #005588;
	border-style: solid;
	background-color: #fee197;	
}

.bocReferenceValue
{
}

.bocReferenceValue.readOnly
{
}

.bocReferenceValue.disabled
{
}