/* Style applied to the BocEnumValue. */

span.bocEnumValue
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.bocEnumValue.readOnly
{
}

.bocEnumValue.disabled
{
}

span.bocEnumValue select
{
  width: 100%;
  height: 1.68em;
}

span.bocEnumValue select[size]
{
  height: auto;
}

span.bocEnumValue select[size="1"]
{
  height: 1.68em;
}
.bocEnumValue td
{
  white-space: nowrap;
}

.bocEnumValue td label
{
  vertical-align: text-bottom;
}
