<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseFilesPath" value="C:\Databases" />
    <add key="DatabaseName" value="RemotionSecurityManagerWebClientTest" />
    <add key="MasterDBConnectionString" value="Integrated Security=SSPI;Initial Catalog=master;Data Source=localhost" />
    <add key="ConnectionString" value="Integrated Security=SSPI;Initial Catalog={Database};Data Source=localhost" />
    <add key="DatabaseSetupFilesPath" value="..\..\" />
    <add key="TestDataFilesPath" value="..\..\TestData" />
  </appSettings>
</configuration>
