<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="remotion.web" type="Remotion.Web.Configuration.WebConfiguration, Remotion.Web" />
    <sectionGroup name="remotion.data.domainObjects" type="Remotion.Data.DomainObjects.Configuration.DomainObjectsConfiguration, Remotion.Data.DomainObjects">
      <section name="storage" type="Remotion.Data.DomainObjects.Persistence.Configuration.StorageConfiguration, Remotion.Data.DomainObjects" />
    </sectionGroup>
  </configSections>

  <remotion.web xmlns="http://www.re-motion.org/web/configuration/v2">
    <executionEngine functionTimeout="20" refreshInterval="10" defaultWxeHandler="WxeHandler.ashx" urlMappingFile="~/bin/SecurityManagerUrlMapping.xml" />
  </remotion.web>

  <remotion.data.domainObjects xmlns="http://www.re-motion.org/Data/DomainObjects/Configuration/2.1">
    <storage defaultProviderDefinition="SecurityManager">
      <providerDefinitions>
        <add type="Remotion.Data.DomainObjects::Persistence.Rdbms.RdbmsProviderDefinition" name="SecurityManager" factoryType="Remotion.SecurityManager::Persistence.SecurityManagerSqlStorageObjectFactory" connectionString="RemotionSecurityManagerWebClient" />
      </providerDefinitions>
    </storage>
  </remotion.data.domainObjects>

  <connectionStrings>
    <add name="RemotionSecurityManagerWebClient" connectionString="Integrated Security=SSPI;Initial Catalog=RemotionSecurityManager;Data Source=localhost" />
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <pages enableEventValidation="false" validateRequest="false">
      <controls>
        <add tagPrefix="remotion" namespace="Remotion.ObjectBinding.Web.UI.Controls" assembly="Remotion.ObjectBinding.Web" />
        <add tagPrefix="remotion" namespace="Remotion.Web.UI.Controls" assembly="Remotion.Web" />
      </controls>
    </pages>

    <compilation defaultLanguage="c#" debug="true" targetFramework="4.8">
      <expressionBuilders>
        <add expressionPrefix="res" type="Remotion.Web.Compilation.ResourceExpressionBuilder, Remotion.Web" />
      </expressionBuilders>
    </compilation>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.8" />
    <authentication mode="Windows" />
    <customErrors mode="Off" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="de-AT" uiCulture="de-AT" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="WxeHandler" verb="*" path="*.wxe" preCondition="integratedMode" type="Remotion.Web.ExecutionEngine.WxeHandler, Remotion.Web" />
      <add name="DefaultWxeHandler" verb="*" path="WxeHandler.ashx" preCondition="integratedMode" type="Remotion.Web.ExecutionEngine.WxeHandler, Remotion.Web" />
    </handlers>
    <directoryBrowse enabled="true" />
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=10"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
