<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebDriver.ChromeDriver.win32" version="2.24.0.0" targetFramework="net45" developmentDependency="true" />
  <!-- Do not update IEDriver to v2.53 until stability issues are fixed. See also https://www.re-motion.org/jira/browse/RM-6571 -->
  <package id="WebDriver.IEDriverServer.win32" version="2.44" targetFramework="net45" developmentDependency="true" />
</packages>