/* Style applied to the BocEnumValue. */

span.bocEnumValue
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.bocEnumValue.readOnly
{
}

.bocEnumValue.disabled
{
}

span.bocEnumValue select
{
  width: 100%;
}

span.bocEnumValue select
{
  height: 1.68em;
}

span.bocEnumValue select[size]
{
  height: auto;
}

span.bocEnumValue select[size="1"]
{
  height: 1.68em;
}

body.webkit span.bocEnumValue select[size="2"]
{
  height: 2.85em;
}

body.webkit span.bocEnumValue select[size="3"]
{
  height: 4.2em;
}

.bocEnumValue td
{
  white-space: nowrap;
}

.bocEnumValue td label
{
  vertical-align: text-bottom;
}

body.msie7 .bocEnumValue td label
{
  vertical-align: 2px;
}
body.msie8 .bocEnumValue td label
{
  vertical-align: 0.1em;
}

body.msie8 span.bocEnumValue select
{
  padding-bottom: 1px;
}
