/* Style applied to the BocAutoCompleteReferenceValue's drop-down list. */

.ac_results 
{
  overflow: clip;
  z-index: 2147483647;
  /* position and dimension are set via javascript */
  max-height: 20em;
  max-width: 30em;
}

.ac_results > div
{
  width: 100%;
  height: 100%;
  border: 1px solid Black;
  background-color: White;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: auto;
}

.ac_results ul
{
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: table;
  border-collapse: collapse;
}

.ac_results li
{
  display: table-row;
  cursor: default;
}

.ac_results li > div
{
  display: table-cell;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  line-height: 1.5em;
  white-space: nowrap;
  vertical-align: middle;
}

.ac_results li > div:first-child
{
  width: 16px;
}

.ac_results li > div:first-child img
{
  vertical-align: 0.1em;
  width: 16px;
  height: 16px;
}

.ac_loading
{
  background-image: url('../Image/AutoCompleteReferenceValueRequestInProgressIndicator.gif');
  background-size: 16px 16px;
  background-position: right center;
  background-repeat: no-repeat;
}

.ac_over.ac_disabled
{
  text-decoration: none;
}

.ac_over.ac_disabled > div
{
  position: relative;
}

.ac_over.ac_disabled > div:only-child::after,
.ac_over.ac_disabled > div + div::after
{
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  display: inline-block;
  content: '';
  outline: dotted black 1px;
  outline: auto 5px -webkit-focus-ring-color;
}

.ac_over.ac_disabled > div + div::after
{
  left: -18px;
}

.ac_even,
.ac_even.ac_over.ac_disabled

{
  background-color: White;
  color: Black;
}

.ac_odd,
.ac_odd.ac_over.ac_disabled
{
  background-color: #EFEFF0;
  color: Black;
}

.ac_over
{
  background-color: #E5F0FC;
  color: Black;
  text-decoration: underline;
}

.ac_informationPopUp 
{
  overflow: clip;
  white-space: normal;
  z-index: 2147483647;
  /* position and dimension are set via javascript */
  max-height: 4em;
  max-width: 30em;
}

.ac_informationPopUp > div
{
  width: 100%;
  padding: 0.25em;
  border: 1px solid Black;
  background-color: Lightyellow;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}