/* Style applied to the BocBooleanValue. */

.bocBooleanValue
{
  margin-right: 0.5em;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
}

.bocBooleanValue.readOnly
{
}

.bocBooleanValue.disabled
{
}

.bocBooleanValue.readOnly span.description
{
  margin-left: 4px;
}

.bocBooleanValue.readOnly span.description[hidden]
{
  display: inline-block;
  width: 0;
  overflow: clip;
  padding-left: 1em;
}

.bocBooleanValue.readOnly span[role=checkbox]:focus ~ span.description
{
  outline: dotted black 1px;
  outline: auto 5px -webkit-focus-ring-color;
}

.bocBooleanValue span
{
  vertical-align: middle;
}

.bocBooleanValue span[role=checkbox]
{
  padding : 0;
  border: none;
  background-color: transparent;
}

.bocBooleanValue:not(.readOnly) span[role=checkbox]
{
  cursor: default;
}

.bocBooleanValue img
{
  vertical-align: middle;
  border: none;
  height: 20px;
  width: 20px;
}

.bocBooleanValue.disabled img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40), 
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}
