/* Style applied to the BocCheckBox. */

.bocCheckBox
{
  margin-right: 0.5em;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
}

.bocCheckBox.readOnly
{
}

.bocCheckBox.disabled
{
}

.bocCheckBox input
{
  margin-left: 4px;
  margin-right: 3px;
  padding: 0px;
  vertical-align: -0.1em;
}

.bocCheckBox.readOnly span.description
{
  margin-left: 4px;
}

.bocCheckBox.readOnly span[tabindex]:focus ~ span.description
{
  outline: dotted black 1px;
  outline: auto 5px -webkit-focus-ring-color;
}

.bocCheckBox span + span
{
  vertical-align: middle;
}
