/* Style applied to the BocEnumValue. */

span.bocEnumValue,
div.bocEnumValue.readOnly
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: clip;
}

.bocEnumValue.readOnly
{
  /* Ensures that the outline is visible in Firefox. */
  overflow: visible;
}

.bocEnumValue.disabled
{
}

span.bocEnumValue select
{
  width: 100%;
  height: 1.68em;
}

span.bocEnumValue select[size]
{
  height: auto;
}

span.bocEnumValue select[size="1"]
{
  height: 1.68em;
}

.bocEnumValue td
{
  white-space: nowrap;
}

.bocEnumValue td label
{
  vertical-align: text-bottom;
}

.bocEnumValue.readOnly input:read-only + span,
.bocEnumValue.readOnly span[role=radiogroup] + span
{
  /* Ensures that diacritic marks can be rendered without being cut off. 
     Using line-height instead of padding works better with BocEnumValue. When using padding, the text is not aligned with the label. */
  /*line-height: 1.5em;*/
  /* Ensures that the outline is rendered outside of the space reserved for diacritic marks. */
  display: inline-block;
}

.bocEnumValue.readOnly input:read-only + span:first-child,
.bocEnumValue.readOnly span[role=radiogroup] + span:first-child
{
  /* Ensures that diacritic marks can be rendered without being cut off. */
  padding-top: 0.2em;
}

.bocEnumValue.readOnly input:read-only + span:last-child,
.bocEnumValue.readOnly span[role=radiogroup] + span:last-child
{
  /* Ensures that diacritic marks can be rendered without being cut off. */
  padding-bottom: 0.2em;
}

.bocEnumValue.readOnly input:read-only + span:empty,
.bocEnumValue.readOnly span[role=radiogroup] + span:empty
{
  /* Ensures that empty readonly values are not collapsed and can therefor visualize the keyboard focus */
  width: 100%;
  min-height: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: -0.2em;
}

.bocEnumValue.readOnly input:read-only:focus + span,
.bocEnumValue.readOnly span[role=radiogroup]:focus-within + span
{
  outline: dotted black 1px;
  outline: solid Highlight 2px;
  outline: auto 5px -webkit-focus-ring-color;
}