/* Style applied to the BocEnumValue. */

span.bocEnumValue
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.bocEnumValue.readOnly
{
  /* Ensures that the outline is visible in Firefox. */
  overflow: visible;
}

.bocEnumValue.disabled
{
}

span.bocEnumValue select
{
  width: 100%;
  height: 1.68em;
}

span.bocEnumValue select[size]
{
  height: auto;
}

span.bocEnumValue select[size="1"]
{
  height: 1.68em;
}

.bocEnumValue td
{
  white-space: nowrap;
}

.bocEnumValue td label
{
  vertical-align: text-bottom;
}

.bocEnumValue.readOnly span[tabindex]
{
  /* Ensures that diacritic marks can be rendered without being cut off. 
     Using line-height instead of padding works better with BocEnumValue. When using padding, the text is not aligned with the label. */
  /*line-height: 1.5em;*/
  /* Ensures that the outline is rendered outside of the space reserved for diacritic marks. */
  display: inline-block;
}

.bocEnumValue.readOnly span[tabindex]:first-child
{
  /* Ensures that diacritic marks can be rendered without being cut off. */
  padding-top: 0.2em;
}

.bocEnumValue.readOnly span[tabindex]:last-child
{
  /* Ensures that diacritic marks can be rendered without being cut off. */
  padding-bottom: 0.2em;
}
