/* Style applied to the BocMultilineTextValue. */

span.bocMultilineTextValue
{
  width: 15em;
  min-height: 4.5em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: clip;
}

.bocMultilineTextValue.readOnly
{
  min-height: 0;
  /* Ensures that the outline is visible in Firefox. */
  overflow: visible;
}

.bocMultilineTextValue.disabled
{
}

span.bocMultilineTextValue .content
{
  position: absolute;
  display: block;
  left: 0;
  right: 6px;
  width: auto;
  top: 0;
  bottom: 0.5em;
  height: auto;
}

.mozilla span.bocMultilineTextValue .content
{
  right: 8px;
  bottom: calc(0.5em + 3px);
}

.bocMultilineTextValue.readOnly .content
{
  position: static;
}

.bocMultilineTextValue.readOnly .content textarea:read-only + span
{
  /* Ensures that the outline is rendered as a block and outside of the space reserved for diacritic marks. */
  display: inline-block;
}

.bocMultilineTextValue.readOnly .content textarea:read-only + span:first-child
{
  /* Ensures that diacritic marks can be rendered without being cut off. */
  padding-top: 0.2em;
}

.bocMultilineTextValue.readOnly .content textarea:read-only + span:last-child
{
  /* Ensures that diacritic marks can be rendered without being cut off. */
  padding-bottom: 0.2em;
}

.bocMultilineTextValue.readOnly .content textarea:read-only + span:empty
{
  /* Ensures that empty readonly values are not collapsed and can therefor visualize the keyboard focus */
  width: 100%;
  min-height: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: -0.2em;
}

.bocMultilineTextValue.readOnly .content textarea:read-only:focus + span
 {
  outline: dotted black 1px;
  outline: solid Highlight 2px;
  outline: auto 5px -webkit-focus-ring-color;
 }

span.bocMultilineTextValue textarea
{
  width: 100%;
  height: 100%;
  display: inline-block;
}
