/* Style applied to the BocTextValue. */

span.bocTextValue
{
  width: 15em;
  min-height: 1.7em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.bocTextValue.readOnly
{
  min-height: 0;
  /* Ensures that the outline is visible in Firefox. */
  overflow: visible;
}

.bocTextValue.disabled
{
}

span.bocTextValue .content
{
  position: absolute;
  left: 0;
  right: 0.5em;
  width: auto;
}

.bocTextValue.readOnly .content
{
  position: static;
}

.bocTextValue.readOnly .content span
{
  /* Ensures that the outline is rendered outside of the space reserved for diacritic marks. */
  display: inline-block;
}

.bocTextValue.readOnly .content span:first-child
{
  /* Ensures that diacritic marks can be rendered without being cut off. */
  padding-top: 0.2em;
}

.bocTextValue.readOnly .content span:last-child
{
  /* Ensures that diacritic marks can be rendered without being cut off. */
  padding-bottom: 0.2em;
}

span.bocTextValue input
{
  width: 100%;
}

span.bocTextValue textarea
{
  width: 100%;
  height: 100%;
  display: inline-block;
}

span.bocTextValue input
{
  height: 1.2em;
  line-height: 1em;
}
