<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="UpdatePanelMasterPage.master.cs" Inherits="Remotion.Web.Test.UpdatePanelTests.UpdatePanelMasterPage" %>
<%@ Import Namespace="System" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="TheHead" runat="server">
  <title>Update Panel SUT</title>
</head>
<body>
  <form id="TheForm" runat="server">
    <div>
      <asp:ContentPlaceHolder ID="FormContent" runat="server">
      </asp:ContentPlaceHolder>
    </div>
  </form>
</body>
</html>
