/* Style applied to the DropDownMenu. */

span.DropDownMenuContainer
{
  display: inline-flex;
  align-items: center;
  background-color: white;
}

span.DropDownMenuSelect
{
  display: inline-flex;
  /* Relative positioning is required in order to prevent the DropDownMenuOptions 
     from 'jumping' from their incorrect initial to their actual positions when 
     expanded. This is currently prevented by positioning them absolutely within 
     the relative DropDownMenuSelect. */
  position: relative;
  align-items: center;
  height: var(--remotion-themed-singleline-min-height);
  line-height: var(--remotion-themed-line-height);
  width: 100%;
  border: var(--remotion-themed-border);
  border-radius: var(--remotion-themed-border-radius);
  box-sizing: border-box;
  cursor: pointer;
}

span.DropDownMenuSelect.disabled
{
  cursor: default;
}

span.DropDownMenuSelect:hover:not(.disabled),
span.DropDownMenuSelect:active:not(.disabled)
{
  border: var(--remotion-themed-border-focus);
  background-color: var(--color-highlight);
  outline: none;
}

span.DropDownMenuSelect.focus:not(.disabled),
span.DropDownMenuSelect:focus-within:not(.disabled)
{
  border: var(--remotion-themed-border-focus);
  background-color: var(--color-highlight);
}

span.DropDownMenuSelect a.DropDownMenuLabel img
{
  width: var(--remotion-themed-img-width);
  padding-right: var(--remotion-themed-spacing);
  background-repeat: no-repeat;
}

span.DropDownMenuSelect a.DropDownMenuLabel
{
  height: 100%;
  width: 100%;
  padding: 0 var(--remotion-themed-spacing);
  display: flex;
  align-items: center;
  border-right: var(--remotion-themed-border-width) solid var(--color-contrast-separator);
  outline: none;
  font: var(--remotion-themed-font-bold);
}

span.DropDownMenuSelect a.DropDownMenuButton
{
  outline: none;
}

span.DropDownMenuSelect:not(.disabled) a.DropDownMenuLabel
{
  color: var(--color-standard-text);
}

span.DropDownMenuSelect a.DropDownMenuButton img
{
  width: var(--remotion-themed-img-width);
  background-image: url('../Image/sprite.svg#DropDownMenuButton');
  background-size: var(--remotion-themed-img-width) var(--remotion-themed-img-width);
  background-position: center;
  background-repeat: no-repeat;
}

div.DropDownMenuOptions
{
  /* Absolute positioning is required in order to prevent the DropDownMenuOptions 
     from 'jumping' from their incorrect initial to their actual positions when 
     expanded. This is currently prevented by positioning them absolutely within 
     the relative DropDownMenuSelect. */
  position: absolute;
  z-index: var(--z-index-max);
}

ul.DropDownMenuOptions
{
  list-style: none;
  margin: 0;
  box-shadow: var(--remotion-themed-popup-shadow);
  padding: var(--remotion-themed-spacing);
  background-color: var(--color-standard-background);
}

ul.DropDownMenuOptions li a
{
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-areas: "img span";
  gap: var(--remotion-themed-spacing);
  padding: var(--remotion-themed-spacing);
  color: var(--color-standard-text);
  white-space: nowrap;
  outline: none;
  cursor: pointer;
}

ul.DropDownMenuOptions li.selected a
{
  color: var(--color-standard-text);
  border-radius: var(--remotion-themed-border-radius);
}

ul.DropDownMenuOptions li.DropDownMenuItemDisabled a
{
  border-style: none;
  color: var(--color-disabled-text);
  cursor: default;
}

ul.DropDownMenuOptions li a > img,
ul.DropDownMenuOptions li a > span.DropDownMenuItemIcon
{
  grid-area: img;
  min-width: var(--default-icon-size);
}

ul.DropDownMenuOptions li a > span:last-of-type
{
  grid-area: span;
  align-self: center;
  padding-left: var(--remotion-themed-spacing);
}

ul.DropDownMenuOptions li a:focus:not(li.DropDownMenuItemDisabled a)
{
  background-color: var(--color-highlight);
}

/* style separator */
span.DropDownMenuSeparator
{
  display: grid;
  line-height: var(--remotion-themed-border-width);
  padding: var(--remotion-themed-spacing) 0;
  background-color: var(--color-contrast-separator);
  background-clip: content-box;
}

div.DropDownMenuStatus
{
  overflow: hidden;
  z-index: var(--z-index-max);
  /* position and dimension are set via javascript */
  max-height: 4em;
  max-width: 30em;
}

div.DropDownMenuStatus > div
{
  box-sizing: border-box;
  height: calc(var(--remotion-themed-img-width) + 2 * var(--remotion-themed-spacing));
  width: calc(var(--remotion-themed-img-width) + 2 * var(--remotion-themed-spacing));
  padding: var(--remotion-themed-spacing);
  color: var(--color-alert-text);
  border: var(--remotion-themed-alert-border);
  background-color: var(--color-alert-background);
}

div.DropDownMenuStatus.loading > div,
div.DropDownMenuStatus.error > div
{
  background-size: var(--remotion-themed-line-height);
  background-position: center;
  background-repeat: no-repeat;
}

div.DropDownMenuStatus.loading > div
{
  background-image: url('../Image/sprite.svg#DropDownMenuRequestInProgressIndicator');
}

div.DropDownMenuStatus.error > div
{
  background-image: url('../Image/sprite.svg#DropDownMenuErrorIndicator');
}
