/*  Style applied to the form grid table's outer structure  */
.formGridTable
{
  --formgrid-border: var(--remotion-themed-border-width) solid var(--color-standard-separator);
}

.formGridTable
{
  border-collapse: collapse;
  width: 100%;
}

.formGridTitleCell,
.formGridSubTitleCell
{
  padding: calc(var(--remotion-themed-spacing) * 2) 0;
}

.formGridTitleCell
{
  font: var(--remotion-themed-font-heading);
}

.formGridSubTitleCell
{
  font: var(--remotion-themed-font-subheading);
}

.formGridLabelsCell,
.formGridMarkersCell,
.formGridControlsCell
{
  padding: var(--remotion-themed-spacing) var(--remotion-themed-spacing-half);
  border-bottom: var(--formgrid-border);
  vertical-align: top;
}

.formGridLabelsCell
{
  width: 15%;
  padding-top: calc(var(--remotion-themed-line-height) / 2 + var(--remotion-themed-spacing-half));
  font: var(--remotion-themed-font-bold);
}

.formGridLabelsCell:first-child
{
  padding-left: 0;
}

.formGridMarkersCell
{
  width: 1%;
  padding-top: calc(var(--remotion-themed-line-height) / 2 - var(--remotion-themed-spacing-half) / 2);
  white-space: nowrap;
}

.formGridControlsCell
{
  width: auto;
}

.formGridMarkersCell:first-child,
.formGridControlsCell:first-child
{
  padding-left: 0;
}

.formGridMarkersCell:last-child,
.formGridControlsCell:last-child
{
  padding-right: 0;
}

.formGridMarkersCell img
{
  height: var(--default-icon-size);
  width: var(--default-icon-size);
  padding: var(--remotion-themed-spacing-half);
}

.formGridMarkersCell a img:hover
{
  border-radius: var(--remotion-themed-border-radius);
  background-color: var(--color-highlight);
}

.formGridValidationMessagesCell
{
  padding: var(--remotion-themed-spacing) 0;
  border-bottom: var(--formgrid-border);
}

.formGridTopDataRow
{
  border-top: var(--formgrid-border);
}

.formGridValidationMessage,
.formGridValidator,
.formGridValidationNotice
{
  padding-top: var(--remotion-themed-spacing);
  color: var(--color-validationerror-text);
}

.formGridMarkersCell a[aria-label]:not([title]),
.formGridMarkersCell a[aria-label]:not([title])
{
  position: relative;
}

.formGridMarkersCell a[aria-label]:not([title])::after,
.formGridMarkersCell a[aria-label]:not([title])::after
{
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-timing-function: linear;
  content: attr(aria-label);
  white-space: pre;
  display: inline-block;
  position: absolute;
  /* popup spawns at the bottom right corner of the icon's hover highlighting */
  top: calc(var(--remotion-themed-spacing) * 2 + var(--remotion-themed-spacing-half));
  padding: var(--remotion-themed-spacing) calc(var(--remotion-themed-spacing) + var(--remotion-themed-spacing-half));
  border: var(--remotion-themed-tooltip-border);
  color: var(--color-tooltip-text);
  background-color: var(--color-tooltip-background);
  font: var(--tooltip-font);
  z-index: var(--z-index-max);
}

.formGridMarkersCell a[aria-label]:not([title]):focus::after,
.formGridMarkersCell a[aria-label]:not([title]):hover::after
{
  visibility: visible;
  transition-delay: var(--transition-delay-tooltip);
}
