/*  Style applied to the form grid table's outer structure  */
.formGridTable
{
  --formgrid-border: var(--remotion-themed-border-width) solid var(--color-standard-separator);
}

.formGridTable
{
  border-collapse: collapse;
  width: 100%;
}

.formGridTitleCell,
.formGridSubTitleCell
{
  padding: var(--remotion-themed-spacing-large) 0;
}

.formGridTitleCell
{
  padding-top: calc(var(--remotion-themed-spacing-large) - var(--remotion-themed-spacing));
}

.formGridTitleCell
{
  font: var(--remotion-themed-font-heading);
}

.formGridSubTitleCell
{
  font: var(--remotion-themed-font-subheading);
}

.formGridLabelsCell,
.formGridMarkersCell,
.formGridControlsCell
{
  padding: var(--remotion-themed-spacing) calc(var(--remotion-themed-spacing) / 2);
  border-bottom: var(--formgrid-border);
  vertical-align: top;
}

.formGridLabelsCell > div
{
  display: flex;
  flex-direction: column;
}

.formGridMarkersCell > div
{
  display: flex;
  flex-direction: row;
}

.formGridControlsCell > div
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formGridControlsCell > div > div:first-child
{
  height: 100%;
}

.formGridLabelsCell
{
  width: 15%;
  padding-top: calc(var(--remotion-themed-line-height) / 2 + var(--remotion-themed-spacing-small) + var(--remotion-themed-border-width));
  font: var(--remotion-themed-font-bold);
}

.formGridLabelsCell:first-child
{
  padding-left: 0;
}

.formGridMarkersCell
{
  width: 1%;
  padding-top: calc(var(--remotion-themed-line-height) / 2 + var(--remotion-themed-border-width));
  white-space: nowrap;
}

.formGridControlsCell
{
  width: auto;
}

.formGridMarkersCell:first-child,
.formGridControlsCell:first-child
{
  padding-left: 0;
}

.formGridMarkersCell:last-child,
.formGridControlsCell:last-child
{
  padding-right: 0;
}

.formGridMarkersCell img
{
  height: var(--remotion-themed-img-width);
  width: var(--remotion-themed-img-width);
  padding: calc(var(--remotion-themed-spacing-small) - var(--remotion-themed-border-width));
  border: var(--remotion-themed-border-placeholder);
  border-radius: var(--remotion-themed-border-radius);
}

.formGridValidationMessagesCell
{
  padding: var(--remotion-themed-spacing) 0;
  border-bottom: var(--formgrid-border);
}

.formGridTopDataRow
{
  border-top: var(--formgrid-border);
}

.formGridValidationMessage,
.formGridValidator,
.formGridValidationNotice
{
  padding-top: var(--remotion-themed-spacing);
  color: var(--color-validationerror-text);
}

.formGridMarkersCell a[aria-label]:not([title]),
.formGridMarkersCell a[aria-label]:not([title])
{
  position: relative;
  outline: none;
}

.formGridMarkersCell a[aria-label]:not([title]):hover img
{
  background-color: var(--remotion-themed-background-color-hover);
  border: var(--remotion-themed-border-hover);
  box-shadow: var(--remotion-themed-box-shadow-hover);
}

.formGridMarkersCell a[aria-label]:not([title]):focus img,
.formGridMarkersCell a[aria-label]:not([title]):focus img
{
  background-color: var(--remotion-themed-background-color-focus);
  border: var(--remotion-themed-border-focus);
  box-shadow: var(--remotion-themed-box-shadow-focus);
}

.formGridMarkersCell a[aria-label]:not([title])::after,
.formGridMarkersCell a[aria-label]:not([title])::after
{
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-timing-function: linear;
  content: attr(aria-label);
  white-space: pre;
  display: inline-block;
  position: absolute;
  /* popup spawns at the bottom right corner of the icon's hover highlighting */
  top: calc(var(--remotion-themed-spacing) * 2 - var(--remotion-themed-border-width) * 2 + var(--remotion-themed-spacing-small));
  padding: var(--remotion-themed-spacing-small) var(--remotion-themed-spacing);
  border: var(--remotion-themed-tooltip-border);
  color: var(--color-tooltip-text);
  background-color: var(--color-tooltip-background);
  font: var(--tooltip-font);
  z-index: var(--z-index-max);
}

.formGridMarkersCell a[aria-label]:not([title]):focus::after,
.formGridMarkersCell a[aria-label]:not([title]):hover::after
{
  visibility: visible;
  transition-delay: var(--transition-delay-tooltip);
}

/* New Form grid */
form-grid {
  display: grid;
  grid-template-columns: repeat(var(--form-grid-columns), minmax(max-content, 1fr) min-content min-content min-content 2fr);
  --formgrid-border: var(--remotion-themed-border-width) solid var(--color-standard-separator);
  --form-grid-columns: 1;
  --form-grid-width: 5;
  --form-grid-full-width: calc(var(--form-grid-columns) * var(--form-grid-width));
  --form-grid-value-inset: 5;
}

form-grid-row {
  grid-column-end: span var(--form-grid-width);
  display: grid;
  grid-template-columns: subgrid;
  padding: var(--remotion-themed-spacing) calc(var(--remotion-themed-spacing) / 2);
  border-bottom: var(--formgrid-border);
}

form-grid-icon > img {
  width: 16px;
  height: 16px;
}

form-grid-icons {
  display: flex;
  gap: 0.2em;
}

form-grid-errors {
  color: #ac1b1b;
  grid-column-start: var(--form-grid-value-inset);
}

fieldset.row {
  margin: 0;
  padding: 0;
  border: 0;
  grid-column-end: span var(--form-grid-full-width);
}

fieldset.row > legend {
  display: none;
}

fieldset.row > .row:not(.header) {
  /* border-left: 7px solid #979797; */
  padding-left: 2em;
}

/* Extra row for value */
.row.extra {
  display: grid;
  grid-template-columns: min-content auto;
  --form-grid-value-inset: 1;
}

.row.extra > .value {
  grid-column-end: span var(--form-grid-width);
}

/* Double column layout */
.formGrid.double {
  --form-grid-columns: 2;
}
