/* Style applied to the ListMenu. */

table.listMenu
{
  border-spacing: 0;
  border-collapse: collapse;
}

td.listMenuRow
{
  display: flex;
  gap: var(--remotion-themed-spacing-large);
  margin-bottom: var(--remotion-themed-spacing);
}

span.listMenuItem a,
span.listMenuItemDisabled a
{
  display: inline-flex;
  text-decoration: none;
  color: var(--color-primary);
  gap: var(--remotion-themed-spacing);
}

span.listMenuItem a
{
  color: var(--color-standard-text);
  cursor: pointer;
}

span.listMenuItemDisabled a
{
  color: var(--color-disabled-text);
  cursor: default;
}

span.listMenuItemDisabled a img
{
  opacity: 0.5;
  filter: grayscale(100%);
}

span.listMenuItem a:focus,
span.listMenuItem a:hover
{
  outline: none;
  text-decoration: underline;
}

span.listMenuItemDisabled a:focus,
span.listMenuItemDisabled a:hover
{
  outline: none;
}
