body
{
  overflow: auto;
}

body
{
  font: var(--remotion-themed-font-standard);
}

body
{
  font-size: var(--remotion-themed-font-size);
}

/*  The headings do not automatically scale with the body's font-size. Now they do. 
    The font-size relation between headings and body is maintained with the used percentages. */
h1
{
  font: var(--remotion-themed-font-heading);
  font-weight: normal;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h2
{
  font: var(--remotion-themed-font-heading);
  font-weight: normal;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h3
{
  font: var(--remotion-themed-font-subheading);
  font-weight: normal;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h4
{
  font: var(--remotion-themed-font-subheading);
  font-weight: normal;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h5
{
  font: var(--remotion-themed-font-subheading);
  font-weight: normal;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h6
{
  font: var(--remotion-themed-font-subheading);
  font-weight: normal;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

b,
strong
{
  font: var(--remotion-themed-font-bold);
  font-weight: normal;
}

img.Icon
{
  vertical-align: top;
  border-style: none;
}
