body
{
  overflow: auto;
}

body, input, select, textarea, button
{
  font: var(--remotion-themed-font-standard);
}

body
{
  font-size: var(--remotion-themed-font-size);
}

/*  The headings do not automatically scale with the body's font-size. Now they do. 
    The font-size relation between headings and body is maintained with the used percentages. */
h1
{
  font-size: 200%;
}

h2
{
  font-size: 150%;
}

h3
{
  font-size: 125%;
}

h4
{
  font-size: 100%;
}

h5
{
  font-size: 80%;
}

h6
{
  font-size: 60%;
}

/*  All elements sporting the class "disabled". */
.disabled,
.disabled a[href],
.disabled input,
.disabled select,
.disabled textarea,
.disabled label
{
  color: Gray;
  cursor: default;
}

img.Icon
{
  vertical-align: top;
  border-style: none;
}

/* Shared in other CSS files */
.screenReaderText
{
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}
