/* Style applied to the TabbedMultiView. */

div.tabbedMultiView
{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;
}

div.tabbedMultiView > div.wrapper
{
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}

div.tabbedMultiViewActiveView
{
  height: 80%;
  width: inherit;
}

div.tabbedMultiViewActiveView > div.contentBorder
{
  position: relative;
  background-color: white;
  margin: 0; 
  padding: 0.5em;
  overflow: auto;
  height: 60%;
}

div.tabbedMultiViewActiveView > span:focus + div.contentBorder 
{
  outline: dotted black 1px;
  outline: auto 5px -webkit-focus-ring-color;
}

div.tabbedMultiViewActiveView > div.contentBorder > div.content
{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Applied to the top section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewTopControls
{
  overflow: hidden;
  background-color: White;
}

div.tabbedMultiViewTopControls.empty
{
  height: 1em;
  background-color: White;
}

/* Applied to the bottom section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewBottomControls
{
  position: absolute;
  overflow: hidden;
  background-color: White;
  margin-top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
}

div.tabbedMultiViewBottomControls.empty
{
  height: 1em;
  background-color: White;
}

/* Shared in other CSS files */
.screenReaderText
{
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}
