/* Style applied to the TabbedMultiView. */

:root
{
  --tabbedmultiview-topcontrols-padding: var(--remotion-themed-spacing) var(--remotion-themed-spacing-large);
  --tabbedmultiview-tabstrip-padding: var(--remotion-themed-spacing) var(--remotion-themed-spacing-large);
  --tabbedmultiview-view-padding: 0 var(--remotion-themed-spacing-large);
  --tabbedmultiview-bottomcontrols-padding: var(--remotion-themed-spacing) var(--remotion-themed-spacing-large);
}

div.tabbedMultiView
{
  width: 100%;
  height: 100%;
  position: relative;
}

div.tabbedMultiView > div.wrapper
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content auto max-content;
  grid-template-areas: "topControls" "tabStrip" "view" "bottomControls";
}

div.tabbedMultiViewActiveView
{
  grid-area: view;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

div.tabbedMultiViewActiveView > div.contentBorder
{
  padding: var(--tabbedmultiview-view-padding);
  overflow: auto;
  /* Offset for focus-border */
  border: var(--remotion-themed-border-placeholder);
  scrollbar-width: var(--remotion-themed-scrollbar-style);
  scrollbar-color: var(--remotion-themed-scrollbar-color);
  height: 100%;
}

div.tabbedMultiViewActiveView > div.contentBorder:focus-visible
{
  outline: none;
  border: var(--remotion-themed-border-focus);
}

div.tabbedMultiViewActiveView > div.contentBorder > div.content
{
  height: 100%;
  box-sizing: border-box;
  scrollbar-color: initial; /* Stop inheriting the scrollbar color to child elements */
  scrollbar-width: initial; /* Stop inheriting the scrollbar width to child elements */
}

/* Applied to the top section of the multi view. */
div.tabbedMultiViewTopControls
{
  grid-area: topControls;
  padding: var(--tabbedmultiview-topcontrols-padding);
}

/* Applied to the bottom section of the multi view. */
div.tabbedMultiViewBottomControls
{
  grid-area: bottomControls;
  padding: var(--tabbedmultiview-bottomcontrols-padding);
  box-shadow: var(--remotion-themed-layer-box-shadow);
}

div.tabbedMultiViewBottomControls.empty
{
  display: none;
}

/* Applied to the tab strip section of the multi view. */
div.tabbedMultiViewTabStrip
{
  grid-area: tabStrip;
  padding: var(--tabbedmultiview-tabstrip-padding);
}

div.tabbedMultiViewTabStrip .tabStripTab,
div.tabbedMultiViewTabStrip .tabStripTabSelected
{
  height: calc(var(--remotion-themed-line-height) + var(--remotion-themed-spacing));
}

div.tabbedMultiViewTabStrip .tabStripTab a,
div.tabbedMultiViewTabStrip .tabStripTabSelected a
{
  border: var(--remotion-themed-border);
  border-radius: var(--remotion-themed-border-radius);
  padding: 0 calc(var(--remotion-themed-spacing));
  text-decoration: none;
  padding-top: var(--remotion-themed-text-alignment-fix);
}

div.tabbedMultiViewTabStrip .tabStripTab a
{
  color: var(--color-standard-text);
  background-color: var(--remotion-themed-background-color-control);
}

div.tabbedMultiViewTabStrip .tabStripTabSelected a
{
  color: var(--color-standard-text);
  border-color: var(--color-highlight);
  background-color: var(--color-highlight);
}

div.tabbedMultiViewTabStrip .tabStripTab:not(.disabled) a:hover,
div.tabbedMultiViewTabStrip .tabStripTabSelected:not(.disabled) a:hover
{
  background-color: var(--remotion-themed-background-color-hover);
  border: var(--remotion-themed-border-hover);
  box-shadow: var(--remotion-themed-box-shadow-hover);
}

div.tabbedMultiViewTabStrip .tabStripTab:not(.disabled) a:focus,
div.tabbedMultiViewTabStrip .tabStripTabSelected:not(.disabled) a:focus
{
  outline: none;
  border: var(--remotion-themed-border-focus);
  box-shadow: var(--remotion-themed-box-shadow-focus);
}

div.tabbedMultiViewTabStrip .tabStripTab:not(.disabled) a:focus
{
  background-color: var(--remotion-themed-background-color-focus);
}

div.tabbedMultiViewTabStrip .tabStripTabSelected:not(.disabled) a:focus
{
  background-color: var(--color-highlight);
}

div.tabbedMultiViewTabStrip .tabStripTab:not(.disabled) a:focus:hover,
div.tabbedMultiViewTabStrip .tabStripTabSelected:not(.disabled) a:focus:hover
{
  background-color: var(--remotion-themed-background-color-focus-hover);
  border: var(--remotion-themed-border-focus-hover);
  box-shadow: var(--remotion-themed-box-shadow-focus-hover);
}

div.tabbedMultiViewTabStrip .tabStripTab.disabled a
{
  color: var(--color-disabled-text);
  background-color: var(--remotion-themed-background-color-disabled);
}

div.tabbedMultiViewTabStrip .tabStripTabSelected.disabled a
{
  color: var(--color-disabled-text);
  border-color: var(--color-disabled-border);
  background-color: var(--remotion-themed-background-color-disabled);
}
