.tabbedMenu
{
  --tabbedMenu-seperator: var(--remotion-themed-border-width) solid var(--color-contrast-separator);
  --tabbedMenu-min-height: calc(var(--remotion-themed-spacing) * 7);
}

table.tabbedMenu
{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.tabbedMenu tr
{
  border-top: var(--tabbedMenu-seperator);
  border-bottom: var(--tabbedMenu-seperator);
}

td.tabbedMainMenuCell
{
  background-color: var(--color-contrast);
}

td.tabbedMainMenuCell,
td.tabbedSubMenuCell
{
  padding-top: var(--remotion-themed-spacing);
  padding-bottom: 0;
  padding-left: var(--remotion-themed-spacing-double);
  padding-right: var(--remotion-themed-spacing-double);
}

td.tabbedMenuStatusCell
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  white-space: nowrap;
  min-height: var(--tabbedMenu-min-height);
  padding: 0 calc(var(--remotion-themed-spacing) * 3);
  padding-top: var(--remotion-themed-spacing);
}

div.tabbedSubMenu div.tabStripTabsPane.empty
{
  min-height: var(--tabbedMenu-min-height);
}

div.tabbedMainMenu span.tabStripTabSeparator,
div.tabbedSubMenu span.tabStripTabSeparator
{
  display: none;
}

div.tabbedMainMenu span.tabStripTab,
div.tabbedMainMenu span.tabStripTabSelected,
div.tabbedSubMenu span.tabStripTab,
div.tabbedSubMenu span.tabStripTabSelected
{
  padding: 0;
  border: none;
  background-color: transparent;
  align-items: center;
  min-height: var(--tabbedMenu-min-height);
}

div.tabbedMainMenu span.tabStripTab:not(.disabled):hover,
div.tabbedSubMenu span.tabStripTab:not(.disabled):hover
{
  background-color: transparent;
}

div.tabbedMainMenu span.tabStripTab a,
div.tabbedMainMenu span.tabStripTabSelected a,
div.tabbedSubMenu span.tabStripTab a,
div.tabbedSubMenu span.tabStripTabSelected a
{
  height: 100%;
  width: 100%;
  padding: 0 var(--remotion-themed-spacing-double);
  background-color: transparent;
  color: var(--color-standard-text);
  text-decoration: none;
  outline: none;
}

div.tabbedMainMenu span.tabStripTab:not(.disabled) a:focus,
div.tabbedMainMenu span.tabStripTabSelected:not(.disabled) a:focus,
div.tabbedSubMenu span.tabStripTab:not(.disabled) a:focus,
div.tabbedSubMenu span.tabStripTabSelected:not(.disabled) a:focus
{
  text-decoration: none;
}

div.tabbedSubMenu span.tabStripTab.disabled a,
div.tabbedMainMenu span.tabStripTab.disabled a
{
  background-color: transparent;
}

div.tabbedMainMenu span.tabStripTab a span.anchorBody,
div.tabbedMainMenu span.tabStripTabSelected a span.anchorBody,
div.tabbedSubMenu span.tabStripTab a span.anchorBody,
div.tabbedSubMenu span.tabStripTabSelected a span.anchorBody
{
  height: 100%;
  border-bottom: solid 4px transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

div.tabbedMainMenu span.tabStripTab:not(.disabled) a:hover span.anchorBody,
div.tabbedMainMenu span.tabStripTab:not(.disabled) a:focus span.anchorBody,
div.tabbedSubMenu span.tabStripTab:not(.disabled) a:hover span.anchorBody,
div.tabbedSubMenu span.tabStripTab:not(.disabled) a:focus span.anchorBody,
div.tabbedMainMenu span.tabStripTabSelected:not(.disabled) a span.anchorBody,
div.tabbedSubMenu span.tabStripTabSelected:not(.disabled) a span.anchorBody
{
  border-bottom-color: var(--color-primary);
}

div.tabbedSubMenu span.tabStripTab a:focus span.anchorBody > img:only-child
{
  outline: none;
}
