/* Style applied to the TabStrip. */

.tabStripTabsPane ul
{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: wrap;
  gap: calc(var(--remotion-themed-spacing) * 2);
  box-sizing: border-box;
}

.tabStripTabsPane ul::after
{
  content: "";
  flex-grow: 99999;
}

.tabStripTabsPane ul li
{
  flex-grow: 1;
}

.tabStripTabWrapper .tabStripTab
{
  background-color: var(--color-standard-background);
}

.tabStripTabWrapper .tabStripTab,
.tabStripTabWrapper .tabStripTabSelected
{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: calc(var(--remotion-themed-line-height) + var(--remotion-themed-spacing) * 2);
  padding: 0 calc(var(--remotion-themed-spacing));
  border: var(--remotion-themed-border);
  border-radius: var(--remotion-themed-border-radius);
}

.tabStripTabWrapper .tabStripTab:not(.disabled):hover,
.tabStripTabWrapper .tabStripTabSelected
{
  border-color: var(--color-highlight);
  background-color: var(--color-highlight);
  cursor: pointer;
}

.tabStripTabWrapper .tabStripTab a[href]
{
  color: var(--color-standard-text);
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.tabStripTabWrapper .tabStripTab.disabled a
{
  color: var(--color-disabled-text);
  background-color: var(--color-disabled-background);
}

.tabStripTabWrapper .tabStripTab:not(.disabled) a:focus,
.tabStripTabWrapper .tabStripTabSelected:not(.disabled) a:focus
{
  outline: none;
  text-decoration: underline;
}
