/* Style applied to the TabStrip. */

.tabStripTabsPane ul
{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: wrap;
  gap: var(--remotion-themed-spacing);
  box-sizing: border-box;
}

.tabStripTabsPane ul::after
{
  content: "";
  flex-grow: 99999;
}

.tabStripTabsPane ul li
{
  flex-grow: 1;
}

.tabStripTabWrapper .tabStripTab,
.tabStripTabWrapper .tabStripTabSelected
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--remotion-themed-line-height) + var(--remotion-themed-spacing));
}

.tabStripTabWrapper .tabStripTab a,
.tabStripTabWrapper .tabStripTabSelected a
{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: var(--remotion-themed-border);
  border-radius: var(--remotion-themed-border-radius);
  padding: 0 calc(var(--remotion-themed-spacing));
  text-decoration: none;
  padding-top: var(--remotion-themed-text-alignment-fix);
}

.tabStripTabWrapper .tabStripTab a
{
  color: var(--color-standard-text);
  background-color: var(--color-standard-background);
}

.tabStripTabWrapper .tabStripTab:not(.disabled) a:hover,
.tabStripTabWrapper .tabStripTabSelected a
{
  border-color: var(--color-highlight);
  background-color: var(--color-highlight);
}

.tabStripTabWrapper .tabStripTab:not(.disabled) a:hover,
.tabStripTabWrapper .tabStripTabSelected:not(.disabled) a:hover
{
  cursor: pointer;
}

.tabStripTabWrapper .tabStripTab:not(.disabled) a:focus,
.tabStripTabWrapper .tabStripTabSelected:not(.disabled) a:focus
{
  outline: none;
  text-decoration: underline;
}

.tabStripTabWrapper .tabStripTab.disabled a
{
  color: var(--color-disabled-text);
  background-color: var(--color-disabled-background);
}

.tabStripTabWrapper .tabStripTabSelected.disabled a
{
  color: var(--color-disabled-text);
  border-color: var(--color-disabled-border);
  background-color: var(--color-disabled-background);
}

.tabStripTabWrapper .tabStripTab a span.anchorBody,
.tabStripTabWrapper .tabStripTabSelected a span.anchorBody
{
  display: flex;
  gap: var(--remotion-themed-spacing);
}

.tabStripTabWrapper .tabStripTab a span.anchorBody > img,
.tabStripTabWrapper .tabStripTabSelected a span.anchorBody > img
{
  align-self: start;
}
