ul.treeViewRoot
{
  --treeview-chevron-size: 1em;
  --treeview-chevron-gap: 0.5em;
  --treeview-padding: calc(var(--treeview-chevron-size) + var(--treeview-chevron-gap));

  margin: 0;
  min-width: 100%;
  width: min-content;
}

ul.treeViewRoot.whitespaceNoWrap
{
  min-width: 100%;
  width: max-content;
}

ul.treeViewRoot.whitespaceNoWrap span.treeViewNode
{
  white-space: nowrap;
}

ul.treeViewRoot a
{
  color: var(--color-standard-text);
  text-decoration: none;
}

ul.treeViewRoot span.treeViewNode
{
  position: relative;
}

ul.treeViewRoot,
ul.treeViewRoot ul.treeViewNodeChildren,
ul.treeViewRoot ul.treeViewNodeChildrenNoLines,
ul.treeViewRoot ul.treeViewTopLevelNodeChildren
{
  padding: 0;
  list-style: none;
}

ul.treeViewRoot span.treeViewNodeHeadSelected a:focus,
ul.treeViewRoot li[role=treeitem]
{
  outline: none;
}

ul.treeViewRoot li:focus > span.treeViewNode span.treeViewNodeHead a > span,
ul.treeViewRoot li:focus > span.treeViewNode span.treeViewNodeHeadSelected a > span
{
  text-decoration: underline;
}

ul.treeViewRoot span.treeViewNode:hover span.treeViewNodeHead:before,
ul.treeViewRoot span.treeViewNode span.treeViewNodeHeadSelected:before,
ul.treeViewRoot li:focus > span.treeViewNode span.treeViewNodeHead:before,
ul.treeViewRoot li:focus > span.treeViewNode span.treeViewNodeHeadSelected:before
{
  background-color: var(--color-highlight);
}

ul.treeViewRoot span.treeViewNodeHead:before,
ul.treeViewRoot span.treeViewNodeHeadSelected:before
{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: var(--z-index-hidden);
}

ul.treeViewRoot span.treeViewNode,
ul.treeViewRoot span.treeViewNodeHead > a,
ul.treeViewRoot span.treeViewNodeHeadSelected > a
{
  display: flex;
  align-items: center;
  padding-top: calc(var(--remotion-themed-spacing-small) / 2);
  padding-bottom: calc(var(--remotion-themed-spacing-small) / 2);
}

ul.treeViewRoot span.treeViewNode > a img.Icon
{
  height: var(--treeview-chevron-size);
  width: var(--treeview-chevron-size);
  margin-right: var(--treeview-chevron-gap);
}

ul.treeViewRoot span.treeViewNode::before
{
  content: "";
  padding-left: calc(var(--treeview-padding) * var(--nesting-depth));
}

ul.treeViewRoot ul.treeViewTopLevelNodeChildren span.treeViewNode::before
{
  content: "";
  padding-left: calc(var(--treeview-padding) * (var(--nesting-depth) - 1));
}

ul.treeViewRoot span.treeViewNode span.treeViewNodeBadge
{
  position: sticky;
  right: 0;
  background-color: var(--color-standard-background);
  align-self: stretch;
  margin-left: auto;
  padding: 0 var(--remotion-themed-spacing);
  font: var(--remotion-themed-font-bold);
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul.treeViewRoot span.treeViewNode:hover span.treeViewNodeBadge,
ul.treeViewRoot li:focus > span.treeViewNode span.treeViewNodeBadge,
ul.treeViewRoot span.treeViewNodeHeadSelected ~ span.treeViewNodeBadge
{
  background-color: var(--color-highlight);
}

/* Shared in other CSS files */
.screenReaderText
{
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}