/* Style applied to the WebButton. */

button.webButton
{
  background-color: var(--color-standard-background);
  border: var(--remotion-themed-border-width) solid var(--color-primary);
  border-radius: var(--remotion-themed-border-radius);
  padding: var(--remotion-themed-spacing) var(--remotion-themed-spacing-large);
  box-sizing: border-box;
  cursor: pointer;
}

button.webButton:hover
{
  background-color: var(--remotion-themed-background-color-hover);
  border: var(--remotion-themed-border-hover);
  box-shadow: var(--remotion-themed-box-shadow-hover);
}

button.webButton:focus
{
  outline: none;
  background-color: var(--remotion-themed-background-color-focus);
  border: var(--remotion-themed-border-focus);
  box-shadow: var(--remotion-themed-box-shadow-focus);
}

button.webButton[disabled]
{
  background-color: var(--color-disabled-background);
  color: var(--color-disabled-text);
  border-color: var(--color-disabled-border);
  cursor: unset;
}

button.webButton span.buttonBody
{
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--remotion-themed-font-bold);
  padding-top: var(--remotion-themed-text-alignment-fix);
  gap: var(--remotion-themed-spacing);
  text-align: left;
}

button.webButton span.buttonBody > img
{
  align-self: start;
}

button.webButton.primary:not(:disabled)
{
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  border-color: var(--color-primary);
}

button.webButton.primary:not(:disabled):hover
{
  background-color: var(--color-primary-highlight);
  border-color: var(--color-primary-highlight);
}

button.webButton.primary:not(:disabled):focus
{
  background-color: var(--color-primary);
  border-color: white;
}

button.webButton.supplemental
{
  background-color: transparent;
  border-color: transparent;
}

button.webButton.supplemental:not(:disabled):hover
{
  background-color: var(--color-highlight);
  border-color: var(--color-primary);
}

button.webButton.supplemental:not(:disabled):focus
{
  background-color: transparent;
  border-color: var(--color-primary);
}
