/* Style applied to the WebButton. */

button.webButton
{
  background-color: var(--color-standard-background);
  border: var(--remotion-themed-border-width) solid var(--color-primary);
  border-radius: var(--remotion-themed-border-radius);
  padding: var(--remotion-themed-spacing) var(--remotion-themed-spacing-large);
  box-sizing: border-box;
  cursor: pointer;
}

button.webButton:hover,
button.webButton:focus
{
  background-color: var(--color-highlight);
}

button.webButton[disabled]
{
  background-color: var(--color-disabled-background);
  color: var(--color-disabled-text);
  border-color: var(--color-disabled-border);
  cursor: unset;
}

button.webButton span.buttonBody
{
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--remotion-themed-font-bold);
  padding-top: var(--remotion-themed-text-alignment-fix);
}

button.webButton.primary
{
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  border: none;
}

button.webButton.primary:not(:disabled):hover,
button.webButton.primary:not(:disabled):focus
{
  background-color: var(--color-primary-highlight);
}

button.webButton.supplemental
{
  background-color: transparent;
  border: none;
}

button.webButton.supplemental:not(:disabled):hover,
button.webButton.supplemental:not(:disabled):focus
{
  background-color: var(--color-highlight);
}
